@media(max-width:992px) {
    .page {
        max-width: 100vw;
        text-align: left;
    }
    .pinch-zoom-parent {
        height: 80vh;
        width: 90vw;
    }
    img {
        height: 90vh;
    }
    div.pinch-zoom div.description h1 {
        font-size: 40px;
        margin: 0px;
        margin-bottom: 10px;
    }
    div.pinch-zoom div.description p {
        margin-bottom: 1em;
    }
}