html{ webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0; overflow-x: hidden;  outline: 0;  background-color: #ffffff; padding-top:50px;}


/*NOT CHANGE THIS CLASS*/
.padding-10.row {  margin-right: -5px;  margin-left: -5px;}
.padding-10 > [class^="col-"], .padding-10 > [class^=" col-"] {  padding-right: 5px;  padding-left: 5px;}
.padding-20.row {  margin-right: -10px;  margin-left: -10px;}
.padding-20 > [class^="col-"], .padding-20 > [class^=" col-"] {  padding-right: 10px;  padding-left: 10px;}
.padding-10.panel-body {  margin-top: -10px;  margin-right: -10px;  margin-left: -10px;}
.nopadding {  padding: 0 !important;  margin: 0 !important;}

/*bottom to top*/
.scrollup {width: 40px;height: 40px;opacity: 1;bottom: 60px;position: fixed;right: 25px;text-indent: -999px;background: url('../images/top-arrow.png') no-repeat; display: none;cursor: pointer;}
.scrolldown {
position: fixed;
top: 60px;
right: 26px;
z-index: 1000;
cursor: pointer;
}


/*--------------------------------------------------DONT EDIT BOOTSTRAP CLASSES------------------------------------------------*/
/*Margin set*/

/*.btn {margin-bottom: 5px;}*/
.form-group {margin-bottom: 10px;}

.align-top {vertical-align: top !important;}
.align-middle {vertical-align: middle !important;}
.align-bottom {vertical-align: bottom !important;}

.panel-default > .panel-heading .badge {color: #f5f5f5;background-color: #5cb85c !important;}
.panel-warning > .panel-heading .badge {color: #fff;background-color: #5cb85c !important;}

/*Popup Padding*/
.modal-body {position: relative;padding: 10px;}

/*Table in Vertical Align is middle*/
.table > thead > tr > th {    vertical-align:middle;    border-bottom: 2px solid #ddd;    text-align: center;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {    padding-bottom: 4px;    padding-top: 4px;    padding-left: 4px;    padding-right: 4px;    line-height: 1.42857143;    vertical-align: middle;    border-top: 1px solid #ddd;}


/*Heading margin set*/
.h4, .h5, .h6, h4, h5, h6 {    margin-top:5px;    margin-bottom: 5px;}

/*p teg margin and space set*/
p {margin: 0 0 5px; white-space: normal;}

/*Hot, New, Free, Featured size*/
.label {vertical-align: middle; text-decoration: none; display: inline; padding-right: 2px; padding-left: 2px; padding-top: 1px; padding-bottom:0px;font-weight: bold; line-height: 1; color: #fff; text-align: center; white-space: nowrap; vertical-align: baseline; border-radius:2px;}

/*Alert notification padding set*/
.alert {padding: 10px;margin-bottom: 15px;border: 1px solid transparent;border-radius:4px;}

/*Button disabled set*/
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {cursor:default;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:1;}

/*all Section in penal padding and margin set*/
.panel-body { padding: 10px 10px 10px 10px;}
.panel-heading { padding: 10px 10px;}

hr { margin-top: 5px;    margin-bottom: 10px;    border: 0;    border-top: 1px solid #eee;}

/*--------------------------------------------------END - DONT EDIT BOOTSTRAP CLASSES------------------------------------------------*/

/*--------------------------------------------------DONT EDIT THIS CLASSES------------------------------------------------*/

/*login.php page logo*/
.img-padding {    padding: 15px;}


.dot-lg {

    background-color: #000;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 0px solid #e7e7e7;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 2px #e7e7e7;
}

/*ADMIN HEADER TEXT*/
.navbar-text {
    margin-top:13px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
@media (max-width: 768px) {
.navbar-text {
    margin-top: 0px;
    margin-bottom: 15px;
}
}
.navbar-inverse .navbar-text {
    color: #323232;
}
/*END ADMIN HEADER TEXT*/


/*Page and footer in Help Text*/
.text-help{color:#737373;font-size: 9pt;text-decoration:none;font-style: italic;}


/*Form in Help Text*/
.text-help-form {color: #a94442;font-size: 9pt;text-decoration:none;font-style: italic;}


/*Top Left Button Top Space*/
.button_space{ margin-top:15px;}


/*To For <<READ MORE>> & <<READ LESS>> Description Text. Function Related to this classes is available in "./includes/function.js" */
a.readmorelink { text-decoration:none; outline: none; }
.readmorecontent span { display: none; }


/*Color Circle*/
.color-circle {  border-radius: 50%;    width: 12.5px;    height: 12.5px;    display: inline-block;    border: 0px solid #e7e7e7;    border-radius: 100%;    box-shadow: 0px 0px 0px 2px #e7e7e7;}
.color-circle-lg {    border-radius: 50%;    width: 35px;    height: 35px;    display: inline-block;    border: 0px solid #e7e7e7;    border-radius: 100%;    box-shadow: 0px 0px 0px 2px #e7e7e7;}
/*End Color Circle*/


/*search after yellow color - search option*/
.searchhighlight { background-color: #FFFA74; }


 /*Below code is used to reduce spacing at top and bottom of heading*/
.input-small-custom {max-width: 400px;}
.input-group-addon-no-padding {padding: 0px 0px; border:0px solid #000;}


/*Pagination padding set*/
.pagination { display: inline-block; padding-left: 0; margin: 10px 0; border-radius: 4px;}

/*--------------------------------------------------END DONT EDIT THIS CLASSES------------------------------------------------*/


/****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/*--------------------------------------------------EDIT BOOTSTRAP CLASSES------------------------------------------------*/
/*All link remove underline and outline*/
/*All link remove underline and outline*/
a:focus, a:hover {color: #000000;text-decoration:none;}
a:active, a:hover {outline: 0;}
a {color: #ef6a9c;text-decoration: none;}
a {background-color: transparent;}


/*Site color override only primary button - login.php*/
.btn-primary {    color: #fff;    background-color: #ef6a9c;    border-color: #ef6a9c;}

.btn-primary.focus,.btn-primary:focus { color:#fff; background-color:#ef6a9c; border-color:#122b40}

.btn-primary:hover {    color: #fff;    background-color: #ef6a9c;    border-color: #ef6a9c;}

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {    color: #fff;    background-color: #ef6a9c;    border-color: #ef6a9c;}

.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.dropdown-toggle.btn-primary.focus,.open>.dropdown-toggle.btn-primary:focus,.open>.dropdown-toggle.btn-primary:hover { color:#fff; background-color:#ef6a9c; border-color:#ef6a9c;}
.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary { background-image:none}
.btn-primary.disabled.focus,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled].focus,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover { background-color:#ef6a9c; border-color:#ef6a9c;}
.btn-primary .badge { color:#ef6a9c; background-color:#fff}


/*Site vise change this button color*/
.btn-default {color:#333;background-color:#fff;border-color:#ccc}
.btn-default.focus,.btn-default:focus {color:#333;background-color:#fff;border-color:#ef5f96}
.btn-default:hover {color:#333;background-color:#fff;border-color:#ef5f96}
.btn-default.active,.btn-default:active,.open>.dropdown-toggle.btn-default {color:#333;background-color:#fff;border-color:#ef5f96}
.btn-default.active.focus,.btn-default.active:focus,.btn-default.active:hover,.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,.open>.dropdown-toggle.btn-default:focus,.open>.dropdown-toggle.btn-default:hover { color:#333;background-color:#fff;border-color:#ef5f96}
.btn-default.active,.btn-default:active,.open>.dropdown-toggle.btn-default {background-image:none}
.btn-default.disabled.focus,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled].focus,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default.focus,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover {background-color:#fff;border-color:#ef5f96}
/*END Site vise change this button color*/

/*pagination disabled cursor set*/
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {color: #ef6a9c;cursor:default;}
/*pagination active color set*/
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { z-index: 3;color: #fff;cursor: default;background-color: #ef6a9c;border-color: #ef6a9c;font-weight: bold;}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {z-index: 2;color: #ef6a9c;background-color: #eee;border-color: #ddd;}
.pagination > li > a, .pagination > li > span { position: relative; float: left; padding: 6px 12px; margin-left: -1px; line-height: 1.42857143; color: #ef6a9c; text-decoration: none; background-color: #fff; border: 1px solid #ddd;}


/*Navigation and dropdown menu color, padding, margin and effect*/
.nav > li > a {position: relative;display: block;padding: 8px 8px;}
.navbar-inverse {background-color: #fff;border-color: transparent;/*    padding-bottom: 32px;*/}

.navbar-fixed-top {top: 0;border-width: 0 0 5px;}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {color: #ef6a9c;background-color: transparent;}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {color: #fff;background-color: #ef6a9c;}


@media (min-width: 767px) {
    .navbar-nav .dropdown-menu .caret {transform: rotate(-90deg);}
    /*full page in header height*/
    .navbar-nav { float: left; margin-top: 0px; margin-bottom: 0px; }
    .admin-text { color: #fff; margin-top:0px;}
}

.nav > li {text-align: center;}
.navbar-inverse .navbar-nav > li > a { color: #323232; text-align: center;/*    font-size: 20px;*/}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: 0px; margin-top: -5px;text-align: center;}

.navbar-brand { float: left; height: 50px; padding: 7px 5px; font-size: 18px; line-height: 20px; margin-top: -5px;}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {color: #fff;background-color: #ef6a9c;}

/*responsive link color*/
@media (max-width: 767px) {
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: #d9b7ff;}
.nav > li > a {position: relative;display: block;padding: 6px 10px;}
}

/*responsive align in top and bootom*/
.navbar-toggle { margin-top: 15px; margin-right: 5px;margin-bottom:10px;}
.navbar-toggle {
    background-color: #ef6a9c;
}
/*dropdown btn hover color*/
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background-color: #ef6a9c;}
.navbar-inverse .navbar-toggle {border-color: #ef6a9c;}

/*responsive logo padding*/
.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header { margin-right: 0px; margin-left: 0px;}

/*nav bottom margin*/
.navbar {
	margin-bottom: 0px;
	border-bottom: 2px solid #f0f0f0;
}


/*END Navigation and dropdown menu color, padding, margin and effect*/

/*--------------------------------------------------END - EDIT BOOTSTRAP CLASSES------------------------------------------------*/


/*--------------------------------------------------EDIT CLASSES------------------------------------------------*/


/*Copy Link popup classes */
#snackbar {visibility: hidden;min-width: 250px;margin-left: -125px;background-color: #ef6a9c;color: #fff;text-align: center;border-radius: 2px;padding: 14px;position: fixed;z-index: 1;left: 50%;top: 70px;font-size: 17px;}
#snackbar.show {visibility: visible;-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; animation: fadein 0.5s, fadeout 0.5s 2.5s;}
@-webkit-keyframes fadein { from {top: 0; opacity: 0;}  to {top: 70px; opacity: 1;}}
@keyframes fadein { from {top: 0; opacity: 0;} to {top: 70px; opacity: 1;}}
@-webkit-keyframes fadeout { from {top: 70px; opacity: 1;}  to {top: 0; opacity: 0;}}
@keyframes fadeout { from {top: 70px; opacity: 1;} to {top: 0; opacity: 0;}}
/* End Copy Link popup classes */

/*login.php page logo*/
.login-pg-logo {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background: #fff;
    border-bottom: 5px solid #323232;
    margin-top: -20px;
}
.text-primary {color: #ef6a9c;}

/*Logo align set*/
.logo {  margin-top:6px;}
@media (max-width: 400px) {
    .logo {  margin-top:8px;}
}

/*Admin header in text - (Welcome, admin (Super Admin))*/
.admin-text { color: #323232; margin-top:21px;}
@media (max-width: 767px) {
    .admin-text { color: #323232; margin-top:0px;}
}

/*--------------------------------------------------END - CHANGE CLASSES------------------------------------------------*/

/*Color change all page in footer */
footer {margin: 0px 0;}
.footer-top {
    background: #fff;
    color: #323232;
    margin: 0px 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 2px solid #f0f0f0;
}
.footer {background-color: #5C033B; margin: 0px 0; padding:5px; color: #fff;}
.footer-bottom {background: #30001e;color: #fff; margin: 0px 0; padding-top:10px;}
.footer-link{ color: #909090; text-decoration: none;}
.footer-link:hover{ color: #333; text-decoration: none;}

.img-top-left { position: absolute; top: 10px; left: 10px; width: 35px; height: auto; }
.img-top-right { position: absolute; top: 10px; right: 10px; width: 35px; height: auto; }
.img-bottom-right {position: absolute;bottom: 10px;right: 10px;height: auto;}
.img-bottom-left {position: absolute;bottom: 10px;right: 10px;height: auto;}



/*Form color and designs change*/
.form-group{margin-bottom:5px;}
.form-control:focus{color:#495057;background-color:#ffffff;border-color:#e31c7a;outline:0}
.form-control:focus{border-color:#e31c7a;outline:0;-webkit-box-shadow:inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);box-shadow:inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);}
input[type="file"]{display:block;background-color:#f9f9f9;border:1px solid #ececec;color:#989898;border-radius:6px;font-weight:normal;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{background-color:#ffffff;opacity:1;}
/*End Form color and designs change*/


.scroll {
  text-decoration: none;
  font-weight: bold;
  color: #222;
  border: 1px solid #ccc9c9;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 3px;
  box-shadow: 0px 1px 0px #e8e7e7;
  font-size: 15px;
  cursor: default;
}

.scroll:hover {
  background-color: #eaeaea;
}

.scroll:active {
  box-shadow: inset -0px 4px 2px -3px #ccc9c9;
}





/*----- ERROR 0003 -----*/
.notfound {

  text-align: center;

}


.notfound .notfound-404 h1 {
  font-size: 110px;
  margin: 0px;
  color: #eaa8a8;
  text-transform: uppercase;
}

.notfound h2 {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #eaa8a8;
  margin: 0;
}


.btn-error{  
    text-transform: uppercase;
    margin-top:20px;
    color: #eaa8a8;
    border: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 10px 40px;
    border-radius: 0px;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s;
}

.btn-error, .btn-error:focus {
	border: 1px solid #eaa8a8;
	color: #eaa8a8;
	border-radius: 4px;
}
.btn-error:hover {
    background: #eaa8a8; 
    color: #fff;
    border-radius: 60px;
    border: 1px solid #eaa8a8;
}

/*----- ERROR 0003 -----*/