Body
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#000000;
}
.Heading14ptNormal
{
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	Color:#FF7928;
	Font-Size:14pt;
}
.ChatJoinMessage
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	Color:Green;
    FONT-WEIGHT: bolder;
	Font-size: 8pt;
	TEXT-DECORATION: none ;	
}
.ChatLeftMessage
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	Color:Red;
	Font-size: 8pt;
    FONT-WEIGHT: bolder;
	TEXT-DECORATION: none ;	
}
A.ChatOnlineLink10ptBold
{
	FONT-SIZE: 10pt;
    COLOR: C67110;
	font-weight:bold;
	Text-Decoration: none;
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
}
A.ChatOnlineLink10ptBold:hover
{
	FONT-SIZE: 10pt;
    COLOR: #56D69F;
	font-weight:bold;
	Text-Decoration: none;
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
}

.ChatOfflineText10ptBold
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	Color:#FF0000;
    FONT-WEIGHT: bolder;
	Font-size: 10pt;
	TEXT-DECORATION: none ;
}

.ChatAdminText8ptNormal
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	Color:#FF2A00;
	Font-size: 8pt;
	TEXT-DECORATION: none ;
}
.ChatUserText8ptNormal
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	Color:#6B3700;
	Font-size: 8pt;
	TEXT-DECORATION: none ;
}
.ChatMiddleBg
{
	background-color:white;
}
TEXTAREA.clsTextArea
{
    BORDER-RIGHT: #DCDBDB  1px solid;
    BORDER-TOP: #DCDBDB  1px solid;
	MARGIN: 3px;
    FONT-SIZE: 8pt;
	COLOR: #6D6D6D;
    BORDER-LEFT: #DCDBDB  1px solid;
    BORDER-BOTTOM: #DCDBDB 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
}
.ButtonStyle
{
	font-family: sans-serif, Verdana, Arial, Helvetica;
	font-size: 8pt;
	font-weight: bold;
	color: #DE6C1F;
	border-right: #DCDBDB 1px solid;
	border-top: #DCDBDB 1px solid;
	border-left: #DCDBDB 1px solid;
	border-bottom: #DCDBDB 1px solid;
	background-color: #F3F2F2;
}
.HelpText
{
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	Color: #A10000;
	Font-Family:Verdana;
	Font-Size:10px;
}
