

.c-wrap {
	padding: 0 30px;
}

.c-wrap h2 {
	margin: 15px 0;
}

.banner .slick-arrow {
	display: none !important;
}

.o-banner {
	margin-top: 15px;
}

.o-banner img {
	display: block;
	margin: 15px auto;
}

.o-banner .col-md-6 {
	padding-right: initial;
	padding-left: initial;
}

.i-box {
	height: 428px;
	padding-top: initial;
	position: relative;
}

.i-box a {
	text-transform: uppercase;
	color: #fff;
	background-color: #0072ff;
	padding: 5px;
	text-decoration: none;
	display: block;
	max-width: 285px;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
}

.o-banner .row {
	margin-left: initial;
	margin-right: initial;
}

.c-btn {
	text-align: center;
	padding: 0 0 25px;
}

.c-btn h3 {
	margin: 20px 0;
	font-weight: bold;
}

.c-btn h5 {
	margin: initial;
}

.c-btn a {
	text-transform: uppercase;
	color: #fff;
	background-color: #0072ff;
	padding: 10px;
	text-decoration: none;
}

.i-box img {
	max-height: 100%;
	display: block;
	width: initial !important;
}

.alert .btn {
	display: block;
	text-align: center;
	margin: auto;
}

.alert {
	padding: 10px;
}

.alert-info.o-btn {
	background-color: #000 !important;
}

.alert.alert-info.alert-dismissible.o-btn {
	background-color: #000;
	color: #fff;
	border-color: #000;
	text-align: center;
	font-size: 16px;
}

.alert-dismissable.o-btn .close,
.alert-dismissible.o-btn .close {
	position: relative;
	top: 0px;
	right: 0;
}

.o-btn a.close {
	color: #fff !important;
	opacity: 1 !important;
}

.overlay,
.place-order.btn-fixed {
	bottom: 0
}

.help-sections a:hover,
.top-link li a:hover {
	text-decoration: underline
}

div#preloaders {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: url(https://www.crazendemand.com/assets/css/ajax-loader.gif) center center no-repeat
}

.banners img {
	width: 100%
}

.free-shipping {
	position: absolute;
	right: -5px;
	top: -5px;
	z-index: 1
}

.free-shipping.detail-page {
	right: 10px;
	top: 0
}

.back-links-text-wrap {
	background-color: #f7f7f7
}

form {
	margin: 0
}

.shoppingcart-box.open {
	display: block
}

.shoppingcart-box li:first-child .table {
	display: block;
	max-height: 420px;
	overflow-y: scroll
}

.my-order label select {
	background-position: 21px center;
	border: 1px solid #ccc;
	box-shadow: 0 0 2px rgba(0, 0, 0, .3)!important;
	padding: 0 10px 0 3px
}

.my-order label input {
	border: 1px solid #ccc;
	box-shadow: 0 0 2px rgba(0, 0, 0, .3);
	font-weight: 600;
	padding: 0 3px
}

select.quan {
	background: 0 0;
	border: 1px solid #ccc
}

.overlay {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
	display: none
}

#header,
.goto-checkout.btn-fixed,
.offer.btn-fixed,
.place-order.btn-fixed {
	left: 0;
	position: fixed;
	right: 0;
	z-index: 999
}

.overlay.view {
	display: block
}

.hidden-menu .shoppingcart-box {
	display: none
}

.cart_item .img-thumbnail {
	opacity: 1!important
}

.so-onepagecheckout .panel {
	margin-bottom: 5px
}

.so-onepagecheckout .panel .panel-body {
	padding: 5px 0
}

.place-order.btn-fixed input {
	font-size: 18px;
	font-weight: 600;
	width: 100%
}

.offer.btn-fixed {
	background-color: #CE2B2B;
	bottom: 40px;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	padding: 5px 0;
	text-align: center
}

.offer.btn-fixed span {
	font-size: 24px;
	vertical-align: middle
}

.checkout-none {
	display: none!important
}

.goto-checkout.btn-fixed {
	bottom: 0;
	width: 100%
}

.goto-checkout.btn-fixed a {
	width: 100%;
	background-color: #1273D6;
	font-size: 18px;
	font-weight: 600
}

.header-center,
.navbar-compact .header-center {
	padding: 10px 0
}

.navbar-compact .header-bottom {
	min-height: 35px
}

.navbar-compact ul.megamenu>li>a,
ul.megamenu>li>a {
	padding: 5px 18px
}

.sub-menu .subcategory_item {
	padding: 0 10px
}

#header {
	background-color: #fff;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
	top: 0
}

.navbar-logo img {
	max-width: 150px
}

.button-search {
	background-color: #ef699c;
	border-color: #ef699c
}

.top-link li {
	padding-left: 10px;
	padding-right: 10px;
	position: relative
}

#header #sosearchpro .button-search {
	height: 36px;
	padding: 0 10px
}

#header #sosearchpro .form-control {
	border: 1px solid #e5e5e5;
	box-shadow: none;
	width: 100%;
	min-height: 36px
}

.header-top-right .top-link {
	margin: 0;
	padding: 5px 0
}

.top-link li .btn {
	border: none;
	text-transform: uppercase;
	padding: 0
}

.top-link li a {
	color: #000
}

.top-link li:before {
	background-color: #ccc;
	content: "";
	height: 100%;
	left: -2px;
	position: absolute;
	top: 1px;
	width: 1px
}

.top-link li:first-child:before {
	content: none
}

.dropdown-menu>li>a {
	padding: 3px 2px
}

.header-info>ul {
	list-style: none;
	margin: 0;
	padding: 5px 0
}

.header-info {
	border: none
}

.header-info>ul>li {
	font-weight: 600;
	letter-spacing: .1px
}

.header-bottom {
	margin-bottom: 0
}

.bg-transparent {
	background-color: transparent!important
}

.header-top-right {
	position: relative;
	z-index: 10
}

.more-menu {
	opacity: 0
}

.more-menu-wrap {
	font-weight: 600;
	position: absolute;
	right: 22px;
	text-transform: uppercase;
	top: 0
}

.collapsed-block .tabBlockTitle .expander {
	display: block;
	margin-top: 0;
	position: relative;
	width: 55px;
	height: 20px;
	z-index: 1
}

.policy-blocks {
	margin: 20px 0
}

.policy-blocks .modcontent>div,
.policy-blocks .modcontent>div>div {
	background-color: #f3f3f3;
	border-radius: 30px
}

.main-slider img {
	width: 100%
}

.cat-icon-wrap span {
	display: block;
	font-size: 17px
}

.cat-icon-wrap:hover {
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .2)
}

.cat-icon-wrap {
	margin: 10px 0;
	position: relative;
	padding: 10px 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	text-align: center
}

.cat-icon-wrap>a,
.right-cut {
	left: 0;
	position: absolute;
	top: 0;
	right: 0
}

.all-cat {
	padding: 40px 0
}

.cat-icon-wrap.l-r-b {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc
}

.cat-icon-wrap>a {
	bottom: 0;
	z-index: 1
}

.all-cat-wrap .col-md-4,
.slider-wrap .col-sm-6 {
	padding: 0
}

.right-cut {
	display: inline-block;
	height: 100%
}

.right-cut img {
	position: relative;
	z-index: 1;
	height: 100%
}

.main-slider {
	position: relative;
	margin-bottom: 0!important
}

.main-slider .owl2-controls {
	position: absolute!important;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%)
}

.slider-wrap {
	border-bottom: 2px solid #ccc;
	position: relative;
	text-align: center;
	overflow: hidden
}

.main-slider .slick-dots {
	bottom: 10px
}

.main-slider .slick-dots li button:before {
	color: #fff;
	font-size: 50px;
	opacity: 1
}

.main-slider.slick-initialized .slick-slide {
	height: inherit!important
}

.all-cat-wrap {
	position: relative;
	z-index: 1
}

.breadcrumb {
	margin: 10px 0
}

.breadcrumb li i {
	padding-top: 4px
}

.tblplaceorder img {
	opacity: 1!important
}

.size-filter.single-pro-size>ul#size-checked {
	list-style: none;
	margin: 0 0 10px;
	padding: 0
}

.size-filter.single-pro-size>ul#size-checked li {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .29);
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
	padding: 0 5px;
	vertical-align: top
}

.size-filter.single-pro-size>ul#size-checked li label {
	margin: 0;
	cursor: pointer
}

.size-filter.single-pro-size>ul#size-checked li:first-child {
	box-shadow: none;
	font-size: 16px;
	font-weight: 600
}

.cart #shoid .btn {
	font-size: 15px;
	font-weight: 700;
	height: inherit;
	line-height: inherit;
	padding: 9px 16px 10px;
	background-color: #1273D6;
	border-color: #1273D6
}

.cart.btn-fixed #shoid .btn {
	padding: 11px 5px!important;
	text-transform: uppercase
}

.reply-box .form-control {
	margin-bottom: 8px
}

.product-options label {
	margin-left: 4px
}

#product .image_option_type {
	display: block;
	float: left;
	padding: 0 10px;
	position: relative
}

#product .image_option_type.form-group:after {
	background-color: #ccc;
	bottom: 0;
	content: "";
	height: 70%;
	position: absolute;
	right: 0;
	top: 4px;
	width: 1px
}

#product .image_option_type .control-label {
	margin-right: 0!important
}

#product .image_option_type.form-group:last-child:after {
	content: none
}

.colors-wrap.blue {
	float: left;
	height: 15px;
	margin-top: 3px;
	vertical-align: middle;
	width: 15px
}

.colors-wrap {
	background-color: #00f
}

.left-content-product .content-product-right .box-info-product .cart input#cndcart {
	background-color: #ef699c
}

.product-item-container .left-block {
	max-height: 350px;
	min-height: 350px;
	padding: 0 0 7px;
	width: inherit;
	overflow: hidden
}

.product-item-container .left-block .product-image-container a img {
	max-height: 100%;
	min-height: 100%;
	opacity: 1!important;
	width: inherit
}

.products-list .product-item-container,
.products-list.grid .product-layout .product-item-container,
div.tab-slider .ltabs-items-container .grid.ltabs-items .product-layout .product-item-container {
	padding: 0
}

.products-list .product-layout .left-block .product-image-container.second_img .img_0,
div.tab-slider .ltabs-items-container .ltabs-items .product-layout .left-block .product-image-container.second_img .img_0 {
	right: 0
}

.products-list .product-layout .caption,
div.tab-slider .ltabs-items-container .ltabs-items .product-layout .caption {
	text-align: center;
	padding: 7px 0
}

.products-list.grid .product-layout .product-item-container .right-block,
div.tab-slider .ltabs-items-container .grid.ltabs-items .product-layout .product-item-container .right-block {
	position: relative
}

.product-item-container .button-group {
	background-color: #fff;
	opacity: 0;
	left: 0;
	position: absolute;
	margin: 0!important;
	right: 0;
	top: 8px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.products-list.grid .product-layout .product-item-container:hover .button-group,
div.tab-slider .ltabs-items-container .grid.ltabs-items .product-layout .product-item-container:hover .button-group {
	opacity: 1
}

body .right-block .button-group button {
	background-color: transparent!important;
	border: none!important;
	float: left;
	font-weight: 700!important;
	height: inherit!important;
	padding: 9px 0!important;
	font-size: 13px!important;
	position: relative!important;
	text-transform: uppercase!important;
	width: 50%
}

.right-block .button-group button:before {
	background-color: #ccc;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 1px
}

.right-block .button-group button:first-child:before {
	content: none
}

body .right-block .button-group button:hover {
	background-color: #ed6432;
	color: #fff
}

.products-list .right-block .button-group button {
	float: left;
	font-weight: 700;
	text-transform: uppercase;
	width: 50%
}

.so-spotlight1 #so-slideshow .owl2-item {
	max-height: 439px;
	overflow: hidden
}

.product-item-container .left-block .product-image-container {
	max-height: 350px;
	min-height: 350px;
	min-width: 100%
}

.product-item-container .left-block .product-image-container a img {
	height: 240px
}

.checkboxes_list input[type=checkbox]+label[for=blue_1]:before {
	background: #00F
}

.checkboxes_list input[type=checkbox]+label[for=red_2]:before {
	background: red
}

.checkboxes_list input[type=checkbox]+label[for=multi-color_3]:before {
	background: #ff0505;
	background: -moz-radial-gradient(center, ellipse cover, rgba(255, 5, 5, 1) 7%, rgba(92, 252, 12, 1) 39%, rgba(232, 85, 229, 1) 74%, rgba(237, 239, 93, 1) 89%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 5, 5, 1) 7%, rgba(92, 252, 12, 1) 39%, rgba(232, 85, 229, 1) 74%, rgba(237, 239, 93, 1) 89%);
	background: radial-gradient(ellipse at center, rgba(255, 5, 5, 1) 7%, rgba(92, 252, 12, 1) 39%, rgba(232, 85, 229, 1) 74%, rgba(237, 239, 93, 1) 89%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0505', endColorstr='#edef5d', GradientType=1)
}

.checkboxes_list input[type=checkbox]+label.green:before {
	background: green
}

.checkboxes_list input[type=checkbox]+label.black:before {
	background: #000
}

.checkboxes_list input[type=checkbox]+label.yellow:before {
	background: #FF0
}

.checkboxes_list input[type=checkbox]+label.orange:before {
	background: orange
}

.checkboxes_list input[type=checkbox]+label.white:before {
	background: #fff
}

.checkboxes_list input[type=checkbox]+label.maroon:before {
	background: maroon
}

.checkboxes_list input[type=checkbox]+label.purple:before {
	background: purple
}

.checkboxes_list input[type=checkbox]+label.beige:before {
	background: beige
}

.checkboxes_list input[type=checkbox]+label.turquoise:before {
	background: #40e0d0
}

.checkboxes_list input[type=checkbox]+label.sky-blue:before {
	background: #87ceeb
}

.checkboxes_list input[type=checkbox]+label.see-green:before {
	background: #0f0
}

.checkboxes_list input[type=checkbox]+label.royal-blue:before {
	background: #4169e1
}

.checkboxes_list input[type=checkbox]+label.brown:before {
	background: brown
}

.checkboxes_list input[type=checkbox]+label.gold:before {
	background: #FFDF00
}

.checkboxes_list input[type=checkbox]+label.silver:before {
	background: silver
}

.checkboxes_list input[type=checkbox]+label.pink:before {
	background: pink
}

.checkboxes_list input[type=checkbox]+label.grey:before {
	background: grey
}

.checkboxes_list input[type=checkbox]+label.olive-green:before {
	background: #4B5320
}

.checkboxes_list input[type=checkbox]+label.cream:before {
	background: #FFE39B
}

.checkboxes_list input[type=checkbox]+label.violet:before {
	background: #ED7FEF
}

.checkboxes_list input[type=checkbox]+label.sea-green:before {
	background: #54ff9f
}

.checkboxes_list input[type=checkbox]+label.magenta:before {
	background: #F0F
}

.checkboxes_list.colors input[type=checkbox]+label:before {
	border: none!important
}

.checkboxes_list.colors input[type=checkbox]+label.white:before {
	border: 1px solid #eaeaea!important
}

.checkboxes_list.colors input[type=checkbox]:checked+label:before {
	color: #fff
}

.checkboxes_list.colors input[type=checkbox]:checked+label.beige:before,
.checkboxes_list.colors input[type=checkbox]:checked+label.white:before {
	color: #000
}

#mySidenavbar .checkboxes_list li {
	margin-bottom: 2px
}

.product-item-container .product-image-container a {
	position: relative;
	z-index: 1;
	display: inline-block
}

.product-item-container .product-image-container .blur-image-link {
	display: block;
	left: 0;
	position: absolute!important;
	right: 0;
	top: 0;
	z-index: 0!important
}

.cart.btn-fixed,
.whatsapp.btn-fixed {
	position: fixed;
	right: 0;
	z-index: 999;
	left: 0
}

.product-image-container .blur-image-link .img-responsive.blur-image {
	height: 100%;
	width: 100%!important
}

#edit-quantity {
	width: 40px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .39);
	border: 1px solid #ccc;
	display: none
}

#cancel-cart,
#update-cart {
	display: none;
	float: left;
	margin-right: 5px
}

.show {
	display: block
}

.hide {
	display: none
}

.whatsapp.btn-fixed {
	bottom: 0;
	padding: 0
}

.whatsapp.btn-fixed a {
	background-color: #4AC75A;
	border: none!important;
	width: 100%;
	color: #fff!important;
	text-align: center;
	padding: 10px!important;
	font-size: 17px!important
}

.cart.btn-fixed input {
	padding: 12px 5px!important
}

.left-content-product .content-product-right .box-info-product .cart input#cndcart:hover {
	background-color: #444
}

.cart.btn-fixed {
	border-bottom: 1px solid #fff;
	bottom: 42px;
	width: 100%
}

.cart.btn-fixed a,
.cart.btn-fixed input {
	display: inline-block;
	float: left;
	width: 50%;
	font-size: 15px!important
}

.cart.btn-fixed a>button,
.shopping-cart .checkbox label {
	width: 100%
}

.shopping-cart .checkbox {
	background-color: #f2f2f2;
	border: 2px dashed #ccc;
	padding: 2px 10px
}

#productdisplay .count-input .quantity {
	border: 1px solid #ccc;
	height: 70px;
	padding: 0 3px;
	text-align: center;
	width: 45px
}

#productdisplay .count-input .incr-btn {
	border: 1px solid #ccc;
	font-size: 12px;
	height: 20px;
	left: 0;
	line-height: 18px;
	padding: 0 5px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 45px
}

#productdisplay a.remove-iteam {
	background-color: red;
	border-radius: 5px;
	color: #fff;
	padding: 0 4px;
	text-align: center
}

#productdisplay .count-input #minus.incr-btn {
	bottom: 0;
	top: inherit
}

#productdisplay .count-input.space-bottom {
	position: relative;
	text-align: center
}

#productdisplay .count-input .incr-btn:hover {
	background-color: #F4A138;
	color: #5f6874
}

.radio-wrap .radio {
	display: inline-block;
	float: left;
	margin: 0 10px 0 0
}

#content .so-onepagecheckout {
	padding: 0
}

#myModal .well>h2 {
	margin-top: 0
}

#myModal.modal {
	text-align: center;
	padding: 0!important
}

#myModal.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px
}

#myModal .modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle
}

#shopping-cart .cart_item td.text-left,
.footer-social-links .col-sm-4,
.footer-socials ul,
.help-sections,
.home-newsletter .single {
	text-align: center
}

#myModal .well {
	position: relative
}

#myModal .well .close {
	color: #000;
	opacity: 1;
	position: absolute;
	right: 9px;
	top: 5px
}

#myModal.modal.fade .modal-dialog {
	opacity: 1;
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	transition: all .1s
}

.well.verify-otp {
	min-height: inherit
}

.jGrowl-message h3>a {
	color: #EE6331;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 4px
}

.verify-otp-wrap .forgot {
	display: block;
	line-height: 17px
}

.verify-otp-wrap .bottom-form>a {
	display: block;
	line-height: 16px
}

.time-left-otp {
	display: inline-block;
	float: left
}

.height-auto {
	height: inherit!important;
	max-height: inherit!important;
	min-height: inherit!important
}

.page-login .forgot {
	line-height: 18px
}

#forgetOtpForm .bottom-form {
	line-height: inherit
}

.all-info-wrap,
.dnone {
	display: none!important
}

.dblock {
	display: block!important
}

.funkyradio div {
	clear: both;
	overflow: hidden;
	position: relative
}

.funkyradio label {
	width: 100%;
	border-radius: 3px;
	padding: 5px 0;
	border: 1px solid #D1D3D4;
	font-weight: 400
}

.funkyradio input[type=checkbox]:empty,
.funkyradio input[type=radio]:empty {
	display: none
}

.funkyradio input[type=checkbox]:empty~label,
.funkyradio input[type=radio]:empty~label {
	position: relative;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.funkyradio input[type=checkbox]:empty~label:before,
.funkyradio input[type=radio]:empty~label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
	z-index: 1
}

.funkyradio input[type=radio]:checked~label:after,
.funkyradio input[type=radio]:hover:not(:checked)~label:after {
	bottom: 0;
	content: "";
	display: inline-block;
	top: 0;
	width: 2.5em;
	z-index: 0;
	right: 0;
	position: absolute;
	left: 0
}

.funkyradio input[type=radio]:checked~label:after {
	background-color: #CD2929
}

.funkyradio input[type=radio]:hover:not(:checked)~label:after {
	background-color: #d1d3d4
}

.funkyradio input[type=checkbox]:hover:not(:checked)~label,
.funkyradio input[type=radio]:hover:not(:checked)~label {
	color: #888
}

.funkyradio input[type=checkbox]:hover:not(:checked)~label:before,
.funkyradio input[type=radio]:hover:not(:checked)~label:before {
	content: '\2714';
	text-indent: .9em;
	color: #C2C2C2
}

.funkyradio input[type=checkbox]:checked~label,
.funkyradio input[type=radio]:checked~label {
	color: #777
}

.funkyradio input[type=checkbox]:checked~label:before,
.funkyradio input[type=radio]:checked~label:before {
	content: '\2714';
	text-indent: .9em;
	color: #333;
	background-color: #ccc
}

.funkyradio input[type=checkbox]:hover:not(:checked)~label::before,
.funkyradio input[type=radio]:checked~label:before,
.funkyradio input[type=radio]:hover:not(:checked)~label::before {
	position: absolute;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	top: 50%
}

.funkyradio input[type=checkbox]:focus~label:before,
.funkyradio input[type=radio]:focus~label:before {
	box-shadow: 0 0 0 3px #999
}

.funkyradio-default input[type=checkbox]:checked~label:before,
.funkyradio-default input[type=radio]:checked~label:before {
	color: #333;
	background-color: #ccc
}

.funkyradio-primary input[type=checkbox]:checked~label:before,
.funkyradio-primary input[type=radio]:checked~label:before {
	color: #fff;
	background-color: #337ab7
}

.funkyradio-success input[type=checkbox]:checked~label:before,
.funkyradio-success input[type=radio]:checked~label:before {
	color: #fff;
	background-color: #CD2929
}

.funkyradio-danger input[type=checkbox]:checked~label:before,
.funkyradio-danger input[type=radio]:checked~label:before {
	color: #fff;
	background-color: #d9534f
}

.funkyradio-warning input[type=checkbox]:checked~label:before,
.funkyradio-warning input[type=radio]:checked~label:before {
	color: #fff;
	background-color: #f0ad4e
}

.funkyradio-info input[type=checkbox]:checked~label:before,
.funkyradio-info input[type=radio]:checked~label:before {
	color: #fff;
	background-color: #5bc0de
}

.address-user {
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 19px
}

.address-desc {
	font-size: 14px;
	line-height: 20px;
	margin: 6px 0 0;
	max-width: 90%;
	padding-left: 40px;
	text-indent: 0
}

#selceted-address .editAddress-wrap {
	background-color: #1374D8;
	border-radius: 0 0 0 2px;
	color: #fff;
	font-size: 15px;
	line-height: 13px;
	cursor: pointer;
	padding: 10px 6px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 25px
}

#selceted-address .editAddress-wrap i {
	color: #fff;
	position: absolute;
	font-size: 14px;
	right: 5px;
	top: 4px;
	z-index: 1
}

.price-range-sliders .form-control {
	display: inline-block;
	font-weight: 600;
	height: 23px;
	margin: 7px;
	padding: 0 4px;
	width: 20%
}

.price-range-sliders #amount2.form-control {
	float: right
}

.price-range-sliders .ui-corner-all {
	cursor: pointer
}

#shopping-cart #productdisplay td a {
	white-space: pre-line
}

#productdisplay .count-input.space-bottom {
	display: inline-block;
	margin: 0 auto
}

.banners-wrap .banner {
	margin: 15px 0;
	overflow: hidden;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.banners-wrap .banner:hover {
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3)
}

.banners-wrap .banner img {
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	transition: all .3s
}

.banners-wrap .banner:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}

.bank-balance .balance-title {
	display: inline-block;
	float: left;
	font-size: 16px;
	font-weight: 600
}

.balance-title .amount {
	float: right;
	font-size: 35px;
	margin-left: 8px
}

.bank-balance .close-btn {
	float: left;
	margin-left: 20px
}

.bank-balance {
	border: 1px dashed #ccc;
	border-radius: 4px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .24);
	float: right;
	padding: 9px 10px
}

.bank-balance .close-btn img {
	opacity: 1!important
}

.back-to-home a {
	color: #000
}

.back-to-home .balance-title .amount,
.back-to-home .balance-title i {
	font-size: 25px
}

body.bank-detailspage {
	padding: 0!important;
	margin: 0!important
}

.wallat-wrap {
	background-color: #f4f4f4;
	border: 1px dashed #ccc;
	display: inline-block;
	border-radius: 6px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .39);
	padding: 7px 10px
}

.wallat-icon {
	display: inline-block
}

.wallat-balance {
	display: inline-block;
	font-size: 26px;
	margin-left: 20px
}

#wallat_length select {
	background-image: none;
	border: 1px solid #ccc;
	font-size: 13px
}

#wallat_filter input {
	border: 1px solid #ccc;
	padding: 1px 5px
}

.tab-content.no-styles {
	padding: 0;
	border: none
}

.left-panel ul {
	list-style: none;
	margin: 0;
	padding: 0
}

.left-panel .menus a {
	border-bottom: 1px solid #ccc;
	color: #000;
	display: block;
	font-weight: 600;
	padding: 3px 10px;
	width: 100%
}

.left-panel .menus li:last-child a {
	border: none
}

.left-panel {
	border: 1px solid #ccc;
	box-shadow: 0 0 4px rgba(0, 0, 0, .39)
}

.left-panel .menus a:hover {
	color: #ce2b2b
}

.privcy-wrap {
	margin: 20px 0
}

.privcy-wrap .class-wrap .block h2 {
	border-bottom: 1px solid #ccc;
	font-weight: 600;
	padding-bottom: 4px;
	margin: 0 0 10px
}

.privcy-wrap .class-wrap .block {
	border-bottom: 2px dashed #ccc;
	margin-bottom: 40px
}

.sidebar__inner {
	position: fixed;
	top: 170px;
	width: 260px
}

.footer-container {
	background-color: transparent;
	padding: 20px 0 0
}

.footer-contact-info .icon-details {
	padding-left: 75px;
	position: relative
}

.footer-contact-info .icon-details:before {
	background-image: url(../image/footer/map.png);
	content: "";
	height: 51px;
	left: 0;
	position: absolute;
	top: 0;
	width: 51px
}

.footer-contact-info .icon-details.daily-upadate:before {
	background-image: url(../image/footer/help.png);
	height: 51px;
	width: 51px
}

.footer-contact-info .icon-details.offer:before {
	background-image: url(../image/footer/share.png);
	height: 51px;
	width: 51px
}

.footer-contact-info .icon-details p {
	font-size: 14px;
	margin-bottom: 2px
}

.footer-contact-info .icon-info h4 {
	font-size: 18px;
	margin: 0;
	text-transform: uppercase
}

.footer-contact-info .icon-info {
	margin-bottom: 20px
}

.footer-contact-info .address-details ul {
	list-style: none;
	margin: 0;
	padding: 0
}

.footer-contact-info .address-details a,
.footer-contact-info .address-details li {
	color: #aaa
}

.footer-contact-info .address-details i {
	color: #ce2b2b;
	font-size: 14px;
	min-width: 22px
}

.footer-contact-info .address-details li {
	letter-spacing: .3px;
	line-height: 25px;
	margin-bottom: 5px
}

.footer-contact-info .address-details li:last-child {
	margin: 0
}

.footer-contact-wrap .footer-contact-info {
	border-radius: 8px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .17);
	margin-bottom: 20px;
	padding: 15px 20px;
	min-height: 150px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.footer-contact-wrap .footer-contact-info:hover {
	background-color: #f6f6f6
}

.banner-desc {
	display: flex
}

.banner-desc a {
	float: left;
	width: 110px;
	align-self: center
}

.banner-desc p {
	float: left;
	margin: 12px 0;
	padding-left: 20px;
	width: 60%
}

.footer-links-wrap .col-sm-3 {
	height: 100%;
	position: relative
}

.footer-links-wrap .col-sm-3:before {
	background-color: #ededed;
	content: "";
	display: block;
	height: 100%;
	position: absolute;
	right: 15px;
	width: 1px
}

.footer-links-wrap .col-sm-3:last-child::before {
	content: none
}

.help-sections {
	padding: 10px 0
}

.help-sections a {
	font-size: 19px;
	font-weight: 500
}

.click-whatsapp {
	bottom: 22%;
	left: 5px;
	position: fixed;
	z-index: 10000
}

.click-whatsapp a {
	background-color: #3b8e25;
	border: 3px solid #4ab32f;
	border-radius: 50%;
	color: #fff;
	font-size: 24px;
	padding: 3px 7px
}

.alert.alert-info.alert-dismissible.o-btn {
	font-size: 14px;
}

.home-newsletter .single {
	max-width: 650px;
	margin: 0 auto;
	position: relative;
	z-index: 2
}

.home-newsletter .single h2 {
	font-size: 22px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 40px
}

.footer-links-wrap,
.footer-social-links {
	margin-bottom: 10px
}

.home-newsletter .single .form-control {
	height: 40px;
	background: rgba(255, 255, 255, .6);
	width: 100%;
	border-radius: 20px 0 0 20px
}

.home-newsletter .single .form-control:focus {
	box-shadow: none;
	border-color: #243c4f
}

.home-newsletter .single .btn {
	min-height: 40px;
	border-radius: 0 20px 20px 0;
	background: #243c4f;
	color: #fff
}

.footer-links-wrap {
	border-bottom: 1px solid #ededed;
	background-color: #f7f7f7;
	border-top: 1px solid #ededed
}

.footer-wrap h3 {
	color: #000;
	font-size: 14px;
	font-weight: 500;
	margin: 0;
	text-transform: uppercase
}

.footer-wrap ul {
	list-style: none;
	margin: 15px 0 0;
	padding: 0
}

.footer-wrap ul li a {
	color: #7d7d7d;
	letter-spacing: .2px
}

.footer-wrap li {
	line-height: 25px
}

.footer-wrap {
	padding: 30px 0
}

.col-sm-3:last-child .footer-wrap {
	border: none
}

.footer-socials ul {
	list-style: none;
	margin: 0;
	padding: 0
}

.footer-socials ul li {
	display: inline-block;
	margin-right: 2px
}

.footer-socials ul li a {
	border: 1px solid #ccc;
	padding: 5px 10px
}

.footer-socials ul li a:hover {
	background-color: #000;
	border-color: #000;
	color: #fff
}

.back-links,
.footer-bottom-block {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc
}

.footer-social-links .col-sm-4:first-child {
	text-align: left
}

.footer-social-links .col-sm-4:last-child {
	text-align: right
}

.footer-bottom-block {
	text-align: center;
	background: #f4f4f4;
	color: #313131;
	padding: 8px 0
}

.footer-socials {
	padding: 10px 0
}

.footer-wrap img {
	margin-bottom: 5px
}

.back-links {
	padding: 10px
}

.back-links h4.label-link {
	margin: 0
}

.old-cnd-image-view .product-image-container .blur-image-link .img-responsive.blur-image {
	filter: inherit
}

#content .ltabs-tabs-container {
	display: none
}

.module .ltabs-items-container {
	padding-top: 30px!important
}

.breadcrumb li h1 {
	font-size: 13px;
	line-height: inherit;
	margin: 0
}

@media (min-width:1400px) and (max-width:1440px) {}

@media (min-width:1200px) {
	.all-cat {
		left: 20px;
		position: relative
	}
}

@media (max-width:1200px) {
	.banner-desc a {
		float: left;
		width: 90px
	}
	.banner-desc p {
		margin: 2px 0
	}
	.footer-contact-wrap .footer-contact-info {
		min-height: 224px
	}
	.all-cat {
		left: 30px;
		padding: 0;
		position: relative
	}
	.sidebar__inner {
		width: 200px
	}
}

.products-category .products-list .product-layout .button-group .addToCart {
	margin: 4px 0
}

.products-list .product-layout .caption h4 {
	max-height: 20px;
	overflow: hidden;
	padding: 0 7px;
	text-overflow: ellipsis;
	white-space: nowrap
}

@media screen and (max-width:1200px) and (min-width:768px) {
	.products-category .products-list .product-layout .button-group .addToCart {
		margin: 4px 0
	}
	.products-list .product-layout .caption h4 {
		max-height: 20px;
		overflow: hidden;
		padding: 0 7px;
		text-overflow: ellipsis;
		white-space: nowrap
	}
}

@media (min-width:991px) {
	html {
		min-height: 100%;
		position: relative
	}
	body.add-p {
		padding-top: 214px;
	}
	body {
		margin-bottom: 234px;
		padding-top: 147px
	}
	.footer-container {
		bottom: 0;
		height: 234px;
		position: absolute;
		width: 100%
	}
}

@media (max-width:991px) {
	.footer-links-wrap .col-sm-3:before,
	#header,
	.sidebar__inner {
		position: relative
	}
	.header-top-left,
	.right-cut {
		display: none
	}
	body {
		padding-top: 270px
	}
	.footer-contact-wrap .footer-contact-info {
		padding: 15px 10px
	}
	.footer-contact-info .address-details li {
		letter-spacing: normal;
		font-size: 12px
	}
	.banner-desc a {
		width: 80px
	}
	.footer-contact-info .icon-info h4 {
		font-size: 15px
	}
	.footer-links-wrap .col-sm-3 {
		height: inherit
	}
	.slider-wrap .col-sm-6 {
		padding: 0 10px
	}
	.cat-icon-wrap {
		border: 1px solid #000;
		margin: 10px 0;
		padding: 10px 0
	}
	.all-cat {
		padding: 30px 0;
		left: 0
	}
	.sidebar__inner {
		top: 0;
		margin-bottom: 10px;
		width: 100%
	}
	body {
		padding: 0
	}
	.btn-shopping-cart .dropdown-menu .cart_product_name {
		font-size: 12px
	}
	.top-link {
		float: right;
		margin: 12px 0
	}
	.top-link li a {
		color: #fff;
		text-transform: uppercase
	}
	body.m_p-b-92 {
		padding-bottom: 92px
	}
	body.m_p-b-50 {
		padding-bottom: 50px
	}
	body.m_p-b-42 {
		padding-bottom: 42px
	}
	.zoomContainer {
		display: none!important
	}
}

@media (min-width:768px) {
	.back-links-text .panel,
	.back-links-text .panel-default>.panel-heading {
		background-color: transparent
	}
	.back-links-text .collapse.dont-collapse-sm {
		display: block;
		height: auto!important;
		visibility: visible
	}
	.panel-group.back-links-text .panel {
		border: none
	}
	.back-links-text .panel-body {
		border: none!important
	}
	.back-links-text .panel-title a {
		pointer-events: none;
		cursor: default;
		text-decoration: none
	}
	.back-links-text .panel {
		box-shadow: inherit
	}
	.back-links-text h3 {
		padding: 0 15px
	}
}

@media (max-width:641px) {
	.product-item-container .left-block,
	.product-item-container .left-block .product-image-container {
		max-height: 220px;
		min-height: 220px
	}
	.products-category #productLists .col-xs-6 {
		padding-left: 5px;
		padding-right: 5px
	}
	.products-list .right-block .button-group button,
	body .owl2-item .button-group button {
		padding: 2px 0!important;
		width: 100%
	}
	.product-item-container .button-group {
		border-top: none!important
	}
}

@media (max-width:768px) {
	.footer-contact-wrap .footer-contact-info {
		min-height: inherit;
		padding: 25px 20px
	}
	.footer-contact-info .icon-info h4 {
		font-size: 18px
	}
	.footer-social-links .col-sm-4:first-child,
	.footer-social-links .col-sm-4:last-child {
		margin: 20px 0;
		text-align: center
	}
	.footer-wrap {
		border-right: none;
		border-bottom: 1px solid #ededed;
		text-align: center
	}
	.top-link li {
		padding-left: 10px;
		padding-right: 10px
	}
	.top-link #my_account .btn:active,
	.top-link #my_account .btn:focus,
	.top-link #my_account .btn:hover {
		color: #fff
	}
	.top-link li ul.dropdown-menu a {
		color: #000
	}
	.product-item-container .button-group {
		opacity: 1;
		position: relative;
		top: 0;
		border-top: 1px solid #ccc
	}
	.right-block .button-group button:hover {
		background-color: #EE612E!important;
		color: #fff!important
	}
	.input-group .input-group-btn .btn {
		padding: 6px 5px
	}
	#productdisplay .input-group input.form-control {
		-moz-appearance: none;
		padding: 0 3px;
		width: 50px
	}
	.dropdown-menu.pull-right {
		left: auto;
		right: -10px
	}
	.shopping_cart .shoppingcart-box {
		padding: 15px 0
	}
	.so-onepagecheckout .col-right {
		padding: 0
	}
	.sidebar__inner {
		position: relative!important;
		top: 0!important;
		margin-bottom: 20px!important
	}
	.content-product-right {
		padding-top: 20px;
		padding-bottom: 20px
	}
	.breadcrumb li {
		width: 85%;
		height: inherit
	}
	.breadcrumb li:first-child {
		width: inherit
	}
	.breadcrumb {
		margin: 10px 0 30px
	}
	#productdisplay td>a {
		font-size: 12px;
		white-space: initial
	}
	#productdisplay td {
		padding: 4px 5px
	}
	#mySidenavbar.sidenav {
		background-color: #f7f7f7;
		box-shadow: 0 2px 10px rgba(0, 0, 0, .71);
		display: none;
		height: 100%;
		left: 0;
		overflow-x: hidden;
		padding: 10px 7px;
		position: fixed;
		top: 0;
		width: 250px;
		z-index: 999
	}
	#mySidenavbar.sidenav a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block
	}
	#mySidenavbar.sidenav a:hover {
		color: #f1f1f1
	}
	#mySidenavbar.sidenav .closebtn {
		position: absolute;
		top: 0;
		right: 5px;
		z-index: 1;
		font-size: 36px;
		margin-left: 50px
	}
	#mySidenavbar.sidenav .closebtn:hover {
		color: #ce2929
	}
	#mySidenavbar.sidenav a.applyfilter {
		background-color: #CE2727;
		border-radius: 3px;
		color: #fff;
		display: inline-block;
		font-size: 15px;
		padding: 3px 0;
		text-align: center;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out
	}
	#mySidenavbar.sidenav a.applyfilter:active,
	#mySidenavbar.sidenav a.applyfilter:focus,
	#mySidenavbar.sidenav a.applyfilter:hover {
		background-color: #1776D7
	}
	.filter-btn {
		background-color: #ce2b2b;
		border-radius: 3px;
		color: #fff;
		cursor: pointer;
		display: block;
		font-size: 18px!important;
		padding: 4px 0;
		text-align: center;
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out
	}
	.filter-btn:active,
	.filter-btn:focus,
	.filter-btn:hover {
		background-color: #ef699c
	}
	.product-layout .button-group .addToCart {
		background-color: #1575d6!important;
		color: #fff!important
	}
	.product-layout .button-group .addToCart:last-child {
		background-color: #ce2b2b!important
	}
	.product-layout .button-group .addToCart:active,
	.product-layout .button-group .addToCart:focus,
	.product-layout .button-group .addToCart:hover {
		background-color: #3F3F3F!important
	}
	.products-category .products-list .product-layout .button-group .addToCart {
		margin: 0
	}
}

@media screen and (max-height:450px) {
	#mySidenavbar.sidenav {
		padding-top: 15px
	}
	#mySidenavbar.sidenav a {
		font-size: 18px
	}
}

img {
	opacity: 1!important
}

.megamenu .with-sub-menu>.sub-menu {
	max-height: 450px;
	overflow: auto
}

div#tooltip {
	position: fixed;
	bottom: 14px;
	right: 90px;
	z-index: 999;
}

#tooltip p {
	background-color: #ef699c;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	position: relative;
	animation: shake 2s cubic-bezier(0.4, 0, 1, 1) both;
	transform: translate3d(0, 0, 0);
	animation-iteration-count: infinite;
}

#tooltip p:after {
	content: "";
	position: absolute;
	top: 50%;
	border-top: 5px solid transparent;
	border-left: 10px solid #ef699c;
	border-bottom: 5px solid transparent;
	left: 100%;
	transform: translateY(-50%);
}

