.radius {
	border-radius: 20px
}
.rbtn {
	height: 34px;
	width: auto
}
input[type="radio"],
input[type="checkbox"] {
	height: auto;
	width: auto
}
.d-inline {
	display: inline-block
}
.linebt {
	position: relative;
	display: inline-block
}
.linebt::after {
	background: #fff none repeat scroll 0 0;
	bottom: 8px;
	content: "";
	height: 1px;
	left: -34px;
	position: absolute;
	width: 25px;
	z-index: 99
}
.linebt::before {
	background: #fff none repeat scroll 0 0;
	bottom: 8px;
	content: "";
	height: 1px;
	position: absolute;
	right: -34px;
	width: 25px;
	z-index: 99
}
.border {
	border: 1px solid #e9e9e9
}
.border-b {
	border-bottom: 1px solid #f2f2f2
}
.border-t {
	border-top: 1px solid #f2f2f2
}
.border-l {
	border-left: 1px solid #f2f2f2
}
.border-r {
	border-right: 1px solid #f2f2f2
}
.border-none {
	border: medium none!important
}
.p-r {
	position: relative
}
.cursor {
	cursor: pointer
}
.mb-p-0 p {
	margin: 0
}
.hover:hover,
.hover-i:hover i {
	color: #ef3f64
}
.hover-a a:hover {
	color: #ef3f64
}
.hover-none:hover {
	color: inherit
}
.blue .dropdown>li:hover>a,
.blue a:hover {
	color: #48a2df
}
.hover-a-none a:hover {
	color: inherit
}
.hover-bg:hover {
	background: #7DC6AB
}
.width-80 {
	width: 80px
}
.width-100 {
	width: 100px
}
.width-150 {
	width: 150px
}
.img-full img {
	width: 100%
}
.total {
	font-size: 15px
}
a.cbtn {
	border: 1px solid #eaeaea;
	border-radius: 20px;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.15) inset;
	display: inline-block;
	font-size: 97%;
	line-height: 20px;
	margin: 0 0 0 8px;
	padding: 6px 14px;
	text-align: center;
	text-decoration: none;
	transition: all 0.25s ease 0s
}
a.cbtn:hover {
	background: #7ec6ac;
	color: #fff
}
.relative,
.b-hover {
	position: relative
}
.image-box {
	overflow: hidden;
	cursor: pointer
}
.b-hover:before {
	background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
	bottom: 10px;
	content: "";
	left: 10px;
	opacity: 0;
	position: absolute;
	right: 10px;
	top: 10px;
	transition: all 300ms ease 0s
}
.b-hover:hover::before {
	animation: 600ms ease-in-out 0s normal none 1 running rollIn;
	opacity: 1
}
.h-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #464545
}
.italic {
	font-style: italic
}
.sub-input {
	background: transparent none repeat scroll 0 0;
	border-radius: 20px;
	height: 34px;
	padding: 0 15px
}
.sub-input:focus {
	border: 1px solid #ddd
}
.sub-btn {
	border: inherit;
	border-radius: 0 20px 20px 0;
	height: 34px;
	padding: 5px 15px;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	top: 0;
	transition: all 0.25s ease 0s
}
.sub-btn:hover {
	background: #9EE6CC!important
}
.text-line2 {
	position: relative;
	display: inline-block;
	color: #fff
}
.text-line2::after {
	background: #fff none repeat scroll 0 0;
	content: "";
	height: 1px;
	margin-right: -114px;
	position: absolute;
	right: 50%;
	top: 9px;
	width: 60px
}
.text-line2::before {
	background: #fff none repeat scroll 0 0;
	content: "";
	height: 1px;
	left: 50%;
	margin-left: -114px;
	position: absolute;
	top: 9px;
	width: 60px
}
.text-line3::before {
	background: #555 none repeat scroll 0 0;
	content: "";
	height: 1px;
	left: 50%;
	margin-left: -76px;
	position: absolute;
	top: 8px;
	width: 40px
}
.text-line3::after {
	background: #555 none repeat scroll 0 0;
	content: "";
	height: 1px;
	margin-right: -75px;
	position: absolute;
	right: 50%;
	top: 8px;
	width: 40px
}
.text-line3 {
	color: #666;
	display: inline-block;
	font-size: 15px;
	position: relative;
	text-transform: uppercase
}
.owl-theme .owl-controls {
	margin-top: 0px
}
.li-after li {
	position: relative
}
.li-after li::after {
	background: #ccc none repeat scroll 0 0;
	content: "";
	height: 11px;
	position: absolute;
	right: -1px;
	top: 5px;
	width: 2px
}
.li-after li:last-child:after {
	opacity: 0
}
.verti-center {
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%
}
.go-btn {
	color: #fe4646;
	display: inline-block;
	font-size: 17px;
	text-transform: uppercase
}
@media screen and (min-width: 0px) and (max-width: 767px) {
	#nivoslider-style-1 img {
		height: 200px!important;
		object-fit: cover;
		object-position: center
	}
	.nivo-imageLink img {
		height: 150px!important
	}
	.nivo-controlNav {
		bottom: -40px
	}
}
@media (min-width: 0px) and (max-width: 767px) and (min-aspect-ratio: 13/9) {
	#nivoslider-style-1 img,
	.nivo-imageLink img {
		height: 180px!important
	}
}
@media screen and (min-width: 767px) and (max-width: 991px) {
	#nivoslider-style-1 img {
		height: 275px!important;
		object-fit: cover;
		object-position: center
	}
	.nivo-imageLink img {
		height: 275px!important
	}
	.nivo-controlNav {
		bottom: -40px
	}
}