body{overflow-x: hidden;  outline: 0;}
#menu {
 position:fixed;
 height:100%;
 z-index:10;
 overflow-y:scroll;
 width:78%;
 top:0;
 overflow-x:hidden;
 overflow-y:auto;
 -webkit-transition:all 0.3s ease;
 -moz-transition:all 0.3s ease;
 transition:all 0.3s ease;
 opacity:1;
 background:#fbfbfb;
}
#menu .heading {
 margin-top:10px;
 padding-left:20px;
 padding-bottom:5px; 
 color:#696b79;
 font-size:11px
}
#menu ul {
 list-style:none;
 margin-top:0px;
 padding:0
}
#menu>ul>li>a {
}
#menu ul li a {
 display:block;
 text-decoration:none;
 -webkit-transition:all 0.3s ease;
 -moz-transition:all 0.3s ease;
 transition:all 0.3s ease
}
#menu ul a i {
 margin-right:10px;
 font-size:18px;
 margin-top:3px;
 width:20px
}
#menu ul a i[class*='fa-caret'] {
 float:right
}
#menu ul a:hover,
#menu ul a.active {
}
#menu ul a:hover i:first-child {
}
#menu ul li a.active+ul {
 display:block
}
#menu ul li ul {
 margin-top:0;
 display:none
}
#menu ul li ul li {
 border-bottom:none
}
#menu ul li ul li a:hover {
}
.left {
 left:-85%
}
.show {
 left:0
}
.mobile-menu-bar #showmenu {
 color:#ef6a9c;
 font-size:1.8em;
 -webkit-transition:all 0.3s ease;
 -moz-transition:all 0.3s ease;
 transition:all 0.3s ease
}
.mobile-menu-bar #back-button {
 color:#ef3f65;
 font-size:1.8em;
 -webkit-transition:all 0.3s ease;
 -moz-transition:all 0.3s ease;
 transition:all 0.3s ease
}
.site-overlay {
 display:none
}
.site-overlay-active {
 display:block!important;
 position:fixed;
 top:0;
 right:0;
 bottom:0;
 left:78%;
 z-index:9998;
 background-color:rgba(0,0,0,0.5);
 -webkit-animation:fade 500ms;
 animation:fade 500ms
}
.mobile-menu-panel #menu>ul {
 padding-left:20px;
 padding-right:15px;
 background:#fbfbfb
}
.mobile-menu-panel #menu>ul>li.main-category.no-submenu {
 padding:15px 0
}
.mobile-menu-panel #menu>ul>li.main-category.no-submenu a {
 width:90%;
 font-size:14px;
 color:#5c5c5c
}
.mobile-menu-panel #menu>ul>li.main-category.submenu {
 border-bottom:1px solid #eaeaec
}
.mobile-menu-panel #menu>ul>li.main-category.submenu>a {
/* font-size:14px!important;
 font-weight:600!important;
 color:#5c5c5c;
 -webkit-font-smoothing:antialiased;
 padding:15px 0;
 border-bottom:1px solid #eaeaec*/
-webkit-font-smoothing: antialiased;
padding: 15px 0;
 color:#5c5c5c;
 outline: 0px;
 font-weight: bold;
}
.mobile-menu-panel #menu>ul>li.main-category.submenu>a>i.fa {
 margin-right:20px!important;
 padding-left:25%!important;
 padding-bottom:14px!important
}
#menu ul li ul li {
 border-bottom:none
}
#menu ul>li.main-category.submenu>ul>li>a {
 margin-left:16px
}
#menu ul>li.main-category.submenu ul li a {
 padding:10px 0;
 border-bottom:1px solid #eaeaec;
 background-color:#fbfbfb;
/* font-size:14px;*/
 outline:0px;
}
#menu ul>li.submenu ul li a:hover,
#menu ul>li.submenu ul li a:focus {
 color:#5c5c5c;
 font-weight:500
}
#menu ul>li.main-category.submenu ul>li>ul>li>a {
 margin-left:35px;
 color:#696b79
}
@media screen and (min-width:0px) and (max-width:991px) {
 .header-top-bar .container-fluid {
  margin-top:12px
 }
 .search-box-header {
  width:100%;
  margin-left:0px;
  margin-top:3px
 }
 .search-box-header input {
  height:27px;
  font-size:10.5px;
  min-width:165px
 }
 .search-box-header input:focus {
  background:white
 }
 .search-box-header button i {
  line-height:23px
 }
 .mobile-view-account-cart.padd-header {
  padding:4px 0px 0 0
 }
 .mobile-menu-panel .heading span {
  float:right;
  margin-right:24px;
  padding-left:50px;
  padding-bottom:10px
 }
 .mobile-menu-panel .heading span i {
  font-size:16px!important
 }
}
.account-navigation,
.currency-track-order-navigation,
.website-phone-number,
.website-mobile-app,
.blog-navigation {
 text-align:center;
 font-size:16px;
 padding:10px 0;
 height:56px
}
.website-phone-number {
 font-size:15px
}
.mobile-menu-track-order-icon {
 height:30px
}
.track-navigation {
 text-align:center;
 font-size:16px;
 padding:10px 0;
 height:70px;
 border-top:2px solid #ddd
}
.track-font {
 font-size:11px
}
.account-navigation,
.currency-track-order-navigation {
 border-bottom:2px solid #ddd
}
.blog-navigation {
 border-top:2px solid #ddd
}
.account-navigation {
 border-top:2px solid #ddd
}
.others-mobile-navigation .div-separator {
 border-right:2px solid #ddd
}
#currency-for-mobile-view {
 width:42%;
 height:24px;
 border:1px solid grey;
 border-radius:5px
}
.currency-track-order-navigation .currency {
 text-align:center;
 padding-right:13px;
 padding-left:13px
}
@media screen and (min-width:992px) {
 .mobile-menu-panel {
  display:none
 }
}
@media screen and (min-width:0px) and (max-width:320px) {
 .mobile-menu-panel #menu {
  width:85%!important
 }
 .site-overlay-active {
  left:85%!important
 }
}





.single-promo i {
 color:#00a9da;
 display:block;
 font-size:30px;
 font-weight:normal;
 margin-bottom:20px
}
.heading-main-header {
 color:#5c5c5c;
 font-size: 14px;
}
.single-promo h3 {
 padding-bottom:15px;
 position:relative
}
.single-promo h3::before {
 background:#00a9da none repeat scroll 0 0;
 bottom:0;
 content:"";
 height:2px;
 position:absolute;
 width:70px
}
.single-promo.text-center h3::before {
 left:0;
 right:0;
 margin:auto
}
.single-promo.text-right h3::before {
 left:auto;
 right:0
}
.promo-style-2 {
}
.action-box-button a.button span {
 font-size:13px;
 padding:11px 12px
}
.breadcrumb-list>li {
 display:inline-block;
 float:none;
 margin-left:22px;
 position:relative
}
.breadcrumb-list>li::after {
 color:#ffffff;
 content:"/";
 left:-14px;
 position:absolute;
 top:2px
}
.breadcrumb-list>li:first-child {
 margin-left:0
}
.breadcrumb-list>li:first-child::after {
 content:""
}
.breadcrumb-list>li>a {
 color:#ffffff
}
.top-left-text p {
 font-size:13px
}
.search-box-header input {
 background:#f9f9f9 none repeat scroll 0 0;
 color:#6f6f6f;
 font-size:12.5px;
 height:35px;
 line-height:27px;
 min-width:195px;
 padding:0 15px
}
.search-box-header button {
 background:rgba(0,0,0,0) none repeat scroll 0 0;
 border:medium none;
 color:#888;
 padding:2px 0 0;
 position:absolute;
 right:12px;
 top:0
}
.search-box-header button i {
 line-height:30px
}
ul.my-setting {
 list-style:outside none none;
 margin:0;
 padding-top:15px;
 position:relative;
 text-align:left
}
ul.my-setting ul {
    background: #fafafa none repeat scroll 0 0;
    -webkit-box-shadow: 0 2px 1.5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 1.5px 0 rgba(0,0,0,.12);
    list-style: outside none none;
    margin: 0;
    min-width: 140px;
    padding: 10px;
    position: absolute;
    top: 25px;
    transform: scaleY(0);
    transform-origin: 0 0 0;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    z-index: 9999999;
}
.desktop-header-panel .dropdown-account ul.my-setting ul {
 top:55px;
 right:-95px
}
.currency-header .currency-panel ul.my-setting ul {
 min-width:225px
}
.my-setting span,
.cart-icone i {
 line-height:15px
}
.my-setting:hover ul {
 transform:scale(1);
 visibility:visible
}
ul.my-setting a {
 font-size: 14px;
 color: #5c5c5c; 
 line-height:25px
}
ul.my-setting a:hover {
 font-size: 14px;
 color: #ef5f96; 
 line-height:25px
}



/*.cart-icone {
 display:inline-block;
 position:relative;
 top:-1px
}*/

.cart-icone {
	display: inline-block;
	position: relative;
	top: 13px;
	right: -5px;
}


/*.cart-icone span,
span.count-product {
 background:#ef3f64 none repeat scroll 0 0;
 border-radius:100%;
 color:#fff;
 font-size:13px;
 height:20px;
 left:15px;
 line-height:20px;
 position:absolute;
 text-align:center;
 top:-10px;
 width:20px;
 padding-top:0px;
 z-index:-999
}*/
.cart-icone span, span.count-product {
	background: #ef3f64 none repeat scroll 0 0;
	border-radius: 100%;
	color: #fff;
	font-size: 13px;
	height: 20px;
	left: 12px;
	line-height: 20px;
	position: absolute;
	text-align: center;
	top: -15px;
	width: 20px;
	padding-top: -23px;
	z-index: -999;
}
.cart-list {
 background:#fff none repeat scroll 0 0;
 box-shadow:0 1px 2px 1px #dadada;
 left:auto;
 padding:15px;
 position:absolute;
 right:0;
 text-align:left;
 top:44px;
 transform:scaleY(0);
 transform-origin:0 0 0;
 transition:all 0.3s ease-out 0s;
 visibility:hidden;
 width:300px;
 z-index:9999999
}
.cart-box:hover .cart-list {
 visibility:visible;
 transform:scale(1)
}
.cart-list .pro-img {
 border:1px solid #ddd;
 float:left;
 margin-right:10px;
 width:80px
}
.remove-cart i {
 background:#ddd none repeat scroll 0 0;
 border-radius:100%;
 color:#fff;
 height:16px;
 line-height:10px;
 padding:3px;
 width:16px
}
.remove-cart i.fa-file {
 font-size:10px;
 padding:4px
}
.cart-list li +li {
 padding-top:15px
}
.cart-list li a,
.cart-list li p {
 color:#414141
}
.cart-list ul {
 border-bottom:1px solid #ddd
}
.header-area {
 z-index:10;
 position:relative
}
.main-menu>li>a {
 display:block;
 letter-spacing:0px;
 font-size:15px;
/* color:#5c5c5c;*/
}

.main-menu>li>a span {
 position:relative
}
.main-menu>li>a span:after {
 content:"";
 height:1px;
 position:absolute;
 transition:all 0.3s ease-in-out 0s;
 width:0;
 left:0
}
.main-menu>li:hover a span:after {
 width:100%
}
.main-menu>li:first-child a span:after {
 width:100%
}
.main-menu li {
 display:inline-block!important
}
.main-menu>li:hover>a {
 text-decoration:none
}
.dropdown>li:hover>a {
 color:#7DC6AB
}
.single-mega-item>li:hover>a {
 color:#7DC6AB
}
.dropdown {
 background:#ffffff none repeat scroll 0 0;
 box-shadow:0 1px 2px rgba(86,86,90,0.5);
 left:0;
 position:absolute;
 text-align:left;
 top:100%;
 transform:scaleY(0);
 transform-origin:0 0 0;
 transition:all 0.3s ease 0s;
 visibility:hidden;
 width:200px;
 z-index:2
}
.dropdown li {
 display:block;
 border-bottom:1px solid #ddd
}
.dropdown li a {
 display:block;
 padding:9px 0
}
.main-menu li:hover .dropdown {
 transform:scale(1);
 visibility:visible
}
.menu-tool-tip{margin-top: -12px !important;}
.main-menu li:hover>.menu-tool-tip {
 position:relative;
 display:-webkit-box
}
@-moz-document url-prefix() {
 .main-menu li:hover>.menu-tool-tip {
  display:flex
 }
}
.main-menu li:hover>.menu-tool-tip::before {
 content:'';
 bottom:-20px;
 width:0;
 height:0;
 left:0;
 right:0;
 margin:auto;
 position:absolute;
 border-left:10px solid transparent;
 border-right:10px solid transparent;
 border-bottom:12px solid #535766
}
.mega-menu-area {
 background:#ffffff none repeat scroll 0 0;
 left:-33%;
 position:absolute;
 text-align:left;
 top:123%;
 width:177%;
 transform:scaleY(0);
 transform-origin:0 0 0;
 transition:all 0.3s ease 0s;
 visibility:hidden;
 z-index:2;
 background-color: #fbfbfb;
 -webkit-box-shadow: 0 2px 1.5px 0 rgba(0,0,0,.12);
 box-shadow: 0 2px 1.5px 0 rgba(0,0,0,.12);
 
}
.header-top-bar.sticky .mega-menu-area {
 top:117%
}
.header-top-bar.sticky .main-menu li:hover>.menu-tool-tip::before {
 bottom:-17px
}
.main-menu li.mega-parent {
 position:static
}
.main-menu li:hover .mega-menu-area {
 transform:scale(1);
 visibility:visible
     
}
.single-menu a {
 display:block;
 padding-top:5px;
font-size: 14px;
color: #5c5c5c;
}
.single-menu a:hover {
 display:block;
 padding-top:5px;
font-size: 14px;
color: #ef5f96;
}
.single-menu a.menu-title {
 color:#231f20;
 font-size:14px;
 letter-spacing:0.2px
}
.header-middle-area .container .row [class*="col-"] {
 position:static
}
.header-middle-area .full-width-mega-dropdown {
 position:relative
}
#primary-menu {
 text-align:center
}
.header-top-bar.sticky {
 left:0;
 margin:auto;
 position:fixed;
 top:0;
 width:100%
}
.logo {
 transition:all 0.3s ease 0s;
 text-align:center
}
.logo img {
 transition:all 0.3s ease 0s;
 width:270px;
 margin-top:3px
}
.sticky .logo img {
 transition:all 0.3s ease 0s;
 width:150px
}
.sticky .logo {
 padding:8px 0
}
.h2-logo {
 opacity:0;
 visibility:hidden
}
.sticky .h2-logo {
 opacity:1;
 visibility:visible
}
.sticky ul.home-2 {
 text-align:right;
 padding-right:150px
}
.icon-search::before,
.box-6::before {
 border-right:1.4142px solid #dbdbdb;
 border-top:1.4142px solid #dbdbdb;
 top:-14.1421px
}
.icon-search::before,
.icon-search::after,
.box-6::before,
.box-6:after {
 background-color:inherit;
 content:"";
 height:28px;
 left:5px;
 position:absolute;
 transform:scaleY(0.5774) rotate(-45deg);
 transition:all 0.25s ease 0s;
 width:28px;
 z-index:-1
}
.icon-search::after {
 border-bottom:1.4142px solid #dbdbdb;
 border-left:1.4142px solid #dbdbdb;
 bottom:-14.1421px
}
.box-6:after {
 border-bottom:1.4142px solid #dbdbdb;
 border-left:1.4142px solid #dbdbdb;
 bottom:-14.1421px
}
.icon-search::before,
.icon-search::after,
.box-6:before,
.box-6:after {
 background-color:#fff;
 content:"";
 height:28px;
 left:5px;
 position:absolute;
 transform:scaleY(0.5774) rotate(-45deg);
 transition:all 0.25s ease 0s;
 width:28px;
 z-index:-1
}
.icon-search,
.box-6 {
 background-color:#ffffff;
 border-left:1px solid #dbdbdb;
 border-right:1px solid #dbdbdb;
 height:20px;
 line-height:22px;
 margin:11.55px 0;
 position:relative;
 text-align:center;
 top:7px;
 transition:all 0.25s ease 0s;
 width:40px;
 z-index:0
}
.cart-box.box-6 {
 margin-left:10px;
 padding:10px;
 top:18px
}
.cart-box.box-6 .cart-icone span {
 left:14px;
 top:-16px
}
.cart-box.box-6 .cart-icone {
 display:inline-block;
 position:relative;
 top:-10px
}
.icon-search:hover:before {
 border-right:1.4142px solid #1abc9c;
 border-top:1.4142px solid #1abc9c;
 top:-14px
}
.icon-search:hover:before,
.icon-search:hover::after {
 background:#1abc9c none repeat scroll 0 0
}
.icon-search:hover::after {
 border-bottom:1.4142px solid #1abc9c;
 border-left:1.4142px solid #1abc9c;
 bottom:-14.1421px
}
.icon-search:hover {
 background-color:#1abc9c
}
.icon-search span i {
 color:#666;
 line-height:15px
}
.icon-search:hover span i {
 color:#fff
}
.top-form {
 display:none;
 left:0;
 position:absolute;
 top:14px;
 width:100%;
 z-index:9
}
.top-form .sub-input {
 background:#f9f9f9 none repeat scroll 0 0;
 height:45px
}
.top-form .sub-btn {
 cursor:pointer;
 font-size:18px;
 height:45px;
 line-height:32px
}
.top-form button {
 opacity:0
}
.main-menu.home3-menu>li>a span::after {
 background:#1abc9c none repeat scroll 0 0;
 bottom:66px;
 height:3px
}
.home-3 {
 padding:20px 0
}
.sticky .search-hide {
 display:none;
 transition:all 0.25s ease 0s
}
.sticky.home-3 {
 padding:0
}
.icon-top-social a {
 color:#777;
 font-size:16px;
 margin:0 5px
}
.header-bottom-icone>li {
 color:#666;
 padding:0 10px
}
.header-bottom-icone>li i {
 margin-right:5px
}
ul.my-setting.bottom-lang ul {
 right:0;
 min-width:113px;
 padding:4px 16px;
 box-shadow:0 6px 7px 0 rgba(0,0,0,0.15)
}
.bottom-lang {
 position:relative
}
.bottom-lang::after {
 background:#ddd none repeat scroll 0 0;
 content:"";
 height:14px;
 left:-10px;
 position:absolute;
 top:16px;
 width:2px
}
.lang-left.bottom-lang::after {
 left:-12px
}
.home-4 .main-menu>li>a {
 padding:30px 10px
}
.home-4.sticky .main-menu>li>a {
 padding:20px 10px
}
.black-bg .header-bottom-icone li a,
.black-bg .my-setting span,
.black-bg .cart-icone i,
.black-bg ul.my-setting a,
.black-bg .icon-top-social>a {
 color:#dfdfdf
}
.black-bg .header-bottom-icone li a:hover,
.black-bg .cart-icone:hover i,
.black-bg ul.my-setting a:hover,
.black-bg .icon-top-social a:hover {
 color:#3498DB
}
.search-categry form {
 margin-bottom:0
}
.black-bg .header-bottom-icone li a:hover {
 color:#3498DB
}
.categroy-box {
 display:inline-block;
 position:relative
}
.search-categry label {
 background:#48a2df none repeat scroll 0 0;
 border-radius:20px 0 0 20px;
 color:#fff;
 font-size:13px;
 font-weight:normal;
 height:35px;
 margin-bottom:0;
 padding:8px 15px
}
@-moz-document url-prefix() {
 .search-categry label {
  padding:7px 15px
 }
}
.search-categry ul {
 background:#fff none repeat scroll 0 0;
 box-shadow:0 3px 5px 3px rgba(0,0,0,0.1);
 margin:10px;
 opacity:0;
 padding:0;
 position:absolute;
 transition:all 300ms ease 0s;
 visibility:hidden;
 width:200px;
 z-index:9999;
 text-align:left
}
.search-categry ul li a {
 color:#747474;
 display:block;
 font-size:14px;
 line-height:26px;
 padding-bottom:5px;
 padding-left:20px;
 padding-top:5px
}
.categroy-box:hover ul {
 opacity:1;
 visibility:visible
}
.search-categry ul li a:hover {
 background-color:#b3b3b3;
 color:#fff
}
.search-box-header {
 margin-left:20px;
 margin-top:-5px
}
.search-categry.search-box-header input {
 border:1px solid #ccc;
 border-radius:0 20px 20px 0;
 height:35px;
 line-height:19px;
 margin-left:-6px;
 width:235px
}
.blue .search-categry.search-box-header button {
 right:19px;
 top:5px
}
.blue .cart-list {
 right:0;
 top:62px
}
.topbar-phone {
 float:left;
 font-size:16px;
 padding:30px 0;
 text-align:right;
 width:80%
}
.topbar-phone span {
 color:#48A2DF
}
.blue .cart-icone span,
span.count-product {
 background:#ef3f64 none repeat scroll 0 0;
 height:20px;
 left:31px;
 top:-5px
}
.blue .icon-search:hover::before,
.blue .icon-search:hover::after,
.blue .icon-search:hover {
 background:#48a2df none repeat scroll 0 0
}
.blue .search-categry.search-box-header {
 padding:42px 0
}
.top-cart {
 padding:20px 0
}
.blue a.cbtn:hover {
 background:#48a2df none repeat scroll 0 0;
 color:#fff
}
.blue .main-menu>li>a {
 color:#fff;
 font-size:14px;
 padding:15px 11px
}
.blue .main-menu.home3-menu>li:first-child a span::after {
 background:#fff none repeat scroll 0 0;
 bottom:28px;
 left:50%;
 margin-left:-6px;
 width:12px;
 height:12px;
 transform:rotate(45deg)
}
.blue .main-menu>li:first-child a span {
 color:#fff
}
.blue .main-menu.home3-menu>li:hover a span::after {
 background:#fff none repeat scroll 0 0;
 bottom:28px;
 height:12px;
 transform:rotate(45deg);
 width:12px
}
.blue .main-menu.home3-menu>li>a span::after {
 background:#fff none repeat scroll 0 0;
 bottom:43px;
 left:50%;
 margin-left:-6px
}
.blue .sidenav-title {
 background:#3d8abe none repeat scroll 0 0;
 display:inline-block;
 padding:16px 15px
}
ul.leftmainmenu {
 background:#fff none repeat scroll 0 0;
 box-shadow:0 1px 2px 1px rgba(0,0,0,0.1);
 display:block;
 left:0;
 margin:20px 0 0;
 padding:0;
 position:absolute;
 top:52px;
 transition:all 300ms ease 0s;
 visibility:hidden;
 width:270px;
 z-index:1001;
 opacity:0;
 top:100px
}
.blue .sidenav-title:hover ul.leftmainmenu {
 opacity:1;
 top:30px;
 visibility:visible
}
ul.leftmainmenu li a {
 border-bottom:1px solid #f2f2f2;
 color:#7a7a7a;
 display:block;
 line-height:100%;
 padding:18px;
 text-transform:uppercase;
 border-left:2px solid Transprent
}
ul.leftmainmenu li a i {
 margin-right:10px
}
ul.leftmainmenu li a:hover {
 color:#48A2DF;
 border-left:2px solid #48A2DF
}
.blue .dropdown>li:hover>a,
.blue a:hover {
 color:#48A2DF
}
.top-lebel:after {
 border-left:5px solid transparent;
 border-right:5px solid transparent;
 border-top:6px solid #f6555d;
 content:"";
 display:block;
 left:0;
 margin:auto;
 position:absolute;
 right:0;
 top:100%;
 width:1px
}
.top-lebel {
 background-color:#f6555d;
 color:#fff;
 font-size:12px;
 line-height:1.5;
 margin-right:-14px;
 padding:1px 5px;
 position:absolute;
 right:50%;
 top:-3px;
 z-index:1
}
.header-topest-bar {
 background-color:#f9f9f9;
 border-bottom:1px #ededed solid
}
@media screen and (min-width:0px) and (max-width:991px) {
 .slider-area {
  position:static;
  width:100%
 }
 .header-area {
  display:table;
  width:100%;
  background:white
 }
 .header-area-checkout {
  background:white
 }
}
@media screen and (min-width:0px) and (max-width:320px) {
 .dropdown-account,
 .cart-box {
  margin-left:-5px
 }
 .search-box-header {
  margin-left:6px!important
 }
 .search-box-header input {
  min-width:152px!important
 }
}
@media screen and (min-width:769px) {
 .dropdown-account,
 .cart-box {
  margin-left:4%
 }
}
.verticalLine {
 border-right:1px solid #cbcbcb99
}
.currency-header {
 min-height:25px;
 font-size:14px;
 
 padding:4px 4%
}
.currency-header .verticalLine {
 padding:0
}
.currency-header .dropdown-account {
 margin:0;
 padding-right:5px
}
.currency-header .worldwide-ship,
.currency-header .contact-info {
 padding-left:10px;
 padding-right:0
}
.currency-header ul.my-setting {
 padding:0
}
.currency-header .worldwide-ship {
 text-align:center
}
.currency-header .fast-link a {
 margin-left:1%;
 padding-right:2%;
 float:right;
 margin-top:2px;
}
.my-setting .current-user {
 font-size:13px;
 margin-right:5px;
 margin-left:5px
}
.my-setting .fa.fa-user:hover +.current-user {
 color:#ef3f65;
 text-decoration:none
}
@media screen and (min-width:992px) and (max-width:1200px) {
 .currency-header {
  padding:4px 0%;
  font-size:11.5px
 }
 .currency-header .currency-panel,
 .currency-header .fast-link {
  padding:0
 }
 .currency-header .fast-link a {
  margin-right:0
 }
}
@media screen and (min-width:1200px) {
 .currency-header {
  padding:4px 0%
 }
 .currency-header .fast-link a {
  margin-right:1%;
  padding-right:2%;
  color: #5c5c5c;
 }
}
@media screen and (min-width:992px) {
 #page-content {
  margin-top:0px
 }
/* .curency-header-div {
  background-color:#fbfbfb;
  -webkit-text-stroke:0.2px
 }*/
.curency-header-div {
    background-color: #fbfbfb;
/*    -webkit-text-stroke: 0.2px;*/
}
 .desktop-header-panel .company-logo img {
  width:100%;
  margin-top:-17px;
  height:auto
 }
 .checkout_header .desktop-header-panel .company-logo img {
  width:auto;
  margin-top:-5px;
  height:auto;
  max-width:100%
 }
 .desktop-header-panel-checkout .company-logo img {
  margin-top:-10px;
  height:46px
 }
 .desktop-header-panel .main-menu>li>a {
  color:#ef6a9c;
  position:relative;
/*  -webkit-text-stroke:0.2px*/
 }
 .desktop-header-panel .main-menu>li>a:hover {
  color:#5c5c5c;
  text-decoration: none;
 }
 .desktop-header-panel .company-logo {
  margin-top: 17px;
  width: 150px;
 }
 .sticky #desktop-menu-items {
  margin-top:0px!important
 }
 .search-box-input-panel .serach-products {
  height:30px;
  margin-top:5px;
  font-size:12px;
  background:#f9f9f9 none repeat scroll 0 0
 }
 .desktop-header-panel .dropdown-account {
  clear:both;
  margin-top:-8px
 }
 .mobile-menu-panel {
  margin-top:16px
 }
 #desktop-menu-items {
  margin-top:6px
 }
 .header-top-bar {
  padding-bottom:5px;
  padding-top:5px;
  border-bottom:2px solid #efefef;
  background:white;
  position:absolute;
  top:30px;
  width:100%;
  z-index:999999
 }
 .header-top-bar-checkout {
  padding-bottom:17px;
  padding-top:15px;
  border-bottom:1px solid rgba(0,0,0,0.08);
  background:white;
  position:absolute;
  top:15px;
  width:100%
 }
 .header-top-bar-mirror {
  position:relative;
  height:44px;
  width:100%;
  z-index:-999999999999;
  opacity:0
 }
 .search-box-input-panel button {
  position:absolute;
  bottom:0px;
  height:30px;
  right:20px;
  background:transparent;
  border:none
 }
 .desktop-header-panel .desktop-header-icon-color {
  -webkit-text-stroke-width:0px;
  -webkit-text-stroke-color:white;
  color:#5c5c5c;
  font-size: 20px;
 }
 .cart-icone span,
 span.count-product {
  background:#ef6a9c none repeat scroll 0 0!important;
  border:0px solid #f9f9f9;
  z-index:999999
 }
 
 .curency-header-div .dropdown-account .my-setting ul li a {
  color:#686868
 }
 .curency-header-div .dropdown-account .my-setting ul li a:hover {
  color:#ef3f64
 }
 .currency-header ul.my-setting {
 }
}
@media screen and (min-width:0px) and (max-width:991px) {
 .mobile-menu-bar {
  text-align:left
 }
}
@media screen and (min-width:0px) and (max-width:991px) {
 .mobile-header-panel {
  background:white;
  padding-top:8px;
  padding-bottom:8px;
  position:fixed;
  left:0;
  right:0;
  top:0;
  border-bottom:1px solid rgba(148,150,159,.3)
 }
 .mobile-header-panel-checkout {
  background:white;
  padding-top:8px;
  padding-bottom:8px;
  left:0;
  right:0;
  top:0;
  box-shadow:0 0 1px 0 rgba(148,150,159,.3)
 }
 .header-top-bar .container {
  margin-right:auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px;
  width:100%
 }
 .white-fa-border {
  -webkit-text-stroke-width:0px;
  -webkit-text-stroke-color:#ef3f64
 }
 .mobile-view-icon a img {
  width:auto;
  height:32px;
  margin-left:0%
 }
 .search-box-mobile {
  padding-top:10px;
  padding-bottom:10px
 }
 .search-box-mobile .serach-products {
  height:35px
 }
 .mobile-header-panel .account {
  display:inline-block;
  text-align:right;
  margin-right:5px;
      font-size: 20px;
 }
 .show-serach-bar-icon {
  text-align:right;
  display:inline-block;
  margin-top:10px;
  margin-right:5px;
  cursor: pointer;
 }
 .show-serach-bar-icon i {
  font-size:20px
 }
 .search-box-mobile button {
  position:absolute;
  bottom:-1px;
  height:35px;
  right:25px;
  background:transparent;
  border:none
 }
 .search-box-mobile .serach-products {
  background:white none repeat scroll 0 0
 }
 .mobile-view-search-box {
  padding-top:0;
  padding-bottom:0;
  margin-top:-5px;
  text-align:center
 }
 .mobile-menu-bar {
  margin-top:0px
 }
 .mobile-view-icon {
  margin-top:0px
 }
/* .cart-icone {
  z-index:9;
  margin-right:15px;
  font-size: 20px;
 }*/
.cart-icone {
	z-index: 9;
	margin-right: 15px;
	font-size: 20px;
	top: 0px;
}
 .cart-icone span,
 span.count-product {
  background:#ef6a9c none repeat scroll 0 0!important;
  border:1px solid #f9f9f9;
  z-index:999999;
  margin-top: 5px;
 }
}
@media (max-width:767px) and (max-aspect-ratio:13/9) {
 .mobile-header-panel .mobile-menu-bar {
  padding-left:2px
 }
 .mobile-view-icon a img {

  margin-top:2px;

 }
}
@media (max-width:767px) {
 .product-detail-logos .col-xs-2.col-sm-2.col-md-1.col-lg-1 {
  padding-left:0;
  width:30px
 }
}
@media (max-width:767px) and (min-aspect-ratio:13/9) {
 .mobile-header-panel .mobile-menu-bar {
  padding-left:2px
 }
 .mobile-view-icon a img {
  height:42px;
  margin-top:-6px;
  margin-left:-15px;
  width:160px
 }
}
@media (min-width:768px) and (max-width:991px) and (orientation:portrait) {
 .mobile-header-panel .mobile-menu-bar {
  padding-left:2px
 }
 .mobile-view-icon a img {
  margin-left:-5px;
  margin-top:-4px;
  width:160px;
  height:40px
 }
}
@media (min-width:768px) and (max-width:991px) and (orientation:landscape) {
 .mobile-menu-bar {
  margin-left:10px
 }
 .mobile-view-icon a img {
  margin-top:-4px;
  margin-left:-5px;
  width:160px;
  height:40px
 }
}
@media (min-width:992px) and (max-width:1199px) {
 .main-menu>li>a {
  padding:5px 1px
 }
 .sticky .main-menu>li>a {
  padding:10px 1px
 }
}
@media (min-width:1200px) {
 .main-menu>li>a {
  padding:5px 5px;
/*  font-size:13px*/
 }
 .sticky .main-menu>li>a {
  padding:10px 1.5px
 }
 @-moz-document url-prefix() {
  .main-menu>li>a {
   padding:5px 5    px;
  }
  .sticky .main-menu>li>a {
   padding:10px 5px
  }
 }
 _:default:not(:root:root),
 .main-menu>li>a {
  padding:5px 1.1px;
  font-size:12px
 }
 _:default:not(:root:root),
 .sticky .main-menu>li>a {
  padding:10px 1.1px
 }
}
@media screen and (min-width:0px) and (max-width:350px) {
 .cart-icone {
  margin-right:10px
 }
 .mobile-header-panel .account {
  margin-right:5px
 }
 .show-serach-bar-icon {
  margin-right:5px
 }
 .mobile-view-icon a img {
  margin-left:0px
 }
}




/*----------------Header Currency Select Box----------------*/
select.input-xs {
    height: 22px;
    line-height: 0px;
    color: #5c5c5c;
}
.input-xs {
    height: 26px;
    padding: 2px 4px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 0px;
}
        
select.browser-default {
    display: block !important;
    color: #5c5c5c;
}
.custom-control-label::before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
/*    font-size: 1rem;*/
    font-weight: 400;
    line-height: 1.5;
    color: #5c5c5c; 
    vertical-align: middle;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
/*        background-color: rgba(0, 0, 0, 0);
    background-color: #fff;*/
    border:0px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-right: -55px; 
}

select {
    word-wrap: normal;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
/*----------------End Header Currency Select Box----------------*/