@font-face{
    font-family:icomoon-additional;
    src:url("../fonts/icomoon-additional/icomoon-additional.eot?2kqzew");
    src:url("../fonts/icomoon-additional/icomoon-additional.eot?2kqzew#iefix") format("embedded-opentype"),url("../fonts/icomoon-additional/icomoon-additional.ttf?2kqzew") format("truetype"),url("../fonts/icomoon-additional/icomoon-additional.woff?2kqzew") format("woff"),url("../fonts/icomoon-additional/icomoon-additional.svg?2kqzew#icomoon-additional") format("svg");
    font-weight:400;
    font-style:normal
}
.icomoon{
    font-family:icomoon-additional!important;
    speak:none;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    letter-spacing:0;
    -webkit-font-feature-settings:"liga";
    -ms-font-feature-settings:"liga" 1;
    font-feature-settings:"liga";
    -webkit-font-variant-ligatures:discretionary-ligatures;
    font-variant-ligatures:discretionary-ligatures;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.icomoon-file-text2:before{
    content:"\E926"
}
.icomoon-spinner:before{
    content:"\E97A"
}
.icomoon-spinner2:before{
    content:"\E97B"
}
@-webkit-keyframes anim-rotate{
    0%{
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
    to{
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn)
    }
}
@keyframes anim-rotate{
    0%{
        -webkit-transform:rotate(0);
        transform:rotate(0)
    }
    to{
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn)
    }
}
.spinner{
    display:inline-block;
    font-size:4em;
    height:1em;
    line-height:1;
    margin:.5em;
    -webkit-animation:anim-rotate 1s infinite linear;
    animation:anim-rotate 1s infinite linear;
    color:#fff;
    text-shadow:0 0 .25em hsla(0,0%,100%,.3)
}
.spinner--steps{
    -webkit-animation:anim-rotate 1s infinite steps(8);
    animation:anim-rotate 1s infinite steps(8)
}
.spinner--steps2{
    -webkit-animation:anim-rotate 1s infinite steps(12);
    animation:anim-rotate 1s infinite steps(12)
}
.pagination-container{
    border-radius:.2rem;
    counter-reset:pagination;
    text-align:center;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-size:18px;
    line-height:25px
}
.pagination-container:after{
    clear:both;
    content:"";
    display:table
}
.pagination-container ul{
    width:100%
}
.pagination-container .xlarge{
    width:65rem
}
.pagination-container .large{
    width:45rem
}
.pagination-container .middle{
    width:32rem
}
.pagination-container .small{
    width:22rem
}
.pagination-container .xsmall{
    width:14rem
}
.pagination-container li,.pagination-container ul{
    list-style:none;
    display:inline;
    padding-left:0
}
.pagination-container li{
    counter-increment:pagination
}
.pagination-container li.active a,.pagination-container li:hover a{
    color:#fdfdfd;
    background-color:#00c0ea;
    border:1px solid #00c0ea
}
.pagination-container li:first-child{
    float:left
}
.pagination-container li:last-child{
    float:right
}
.pagination-container li a{
    background:#fdfdfd;
    border:1px solid #d7d6d6;
    border-radius:.2rem;
    color:#ff4213;
    text-decoration:none;
    text-transform:uppercase;
    display:inline-block;
    text-align:center;
    padding:.5rem .9rem
}
.pagination-container .large li a{
    display:none
}
.pagination-container .large li:first-child a{
    display:inline-block
}
.pagination-container .large li:first-child a:after{
    content:"Previous"
}
.pagination-container .large li:last-child a,.pagination-container .large li:nth-child(2) a,.pagination-container .large li:nth-child(3) a,.pagination-container .large li:nth-child(4) a,.pagination-container .large li:nth-child(5) a,.pagination-container .large li:nth-child(6) a,.pagination-container .large li:nth-child(7) a,.pagination-container .large li:nth-child(8) a{
    display:inline-block
}
.pagination-container .large li:last-child a:after{
    content:"Next"
}
.pagination-container .large li:nth-last-child(2) a,.pagination-container .large li:nth-last-child(3){
    display:inline-block
}
.pagination-container .large li:nth-last-child(3):after{
    padding:0 1rem;
    content:"..."
}
.pagination-container .middle li a{
    display:none
}
.pagination-container .middle li:first-child a{
    display:inline-block
}
.pagination-container .middle li:first-child a:after{
    content:"<"
}
.pagination-container .middle li:last-child a{
    display:inline-block
}
.pagination-container .middle li:last-child a:after{
    content:">"
}
.pagination-container .middle li:nth-child(2) a,.pagination-container .middle li:nth-child(3) a,.pagination-container .middle li:nth-child(4) a,.pagination-container .middle li:nth-child(5) a,.pagination-container .middle li:nth-last-child(2) a,.pagination-container .middle li:nth-last-child(3){
    display:inline-block
}
.pagination-container .middle li:nth-last-child(3):after{
    padding:0 1rem;
    content:"..."
}
.pagination-container .small li{
    display:none
}
.pagination-container .small li:first-child{
    width:50%;
    display:inline
}
.pagination-container .small li:first-child a:after{
    content:"Previous Page"
}
.pagination-container .small li:last-child{
    display:inline
}
.pagination-container .small li:last-child a:after{
    content:"Next Page"
}
.pagination-container .xsmall li{
    display:none
}
.pagination-container .xsmall li.active,.pagination-container .xsmall li:first-child{
    display:inline
}
.pagination-container .xsmall li:first-child a:after{
    content:"Prev"
}
.pagination-container .xsmall li:last-child{
    display:inline
}
.pagination-container .xsmall li:last-child a:after{
    content:"Next"
}
@media (max-width:767px){
    .pagination-container li{
        display:none
    }
    .pagination-container li.active,.pagination-container li:nth-child(2):not(.disabled),.pagination-container li:nth-last-child(2):not(.disabled){
        display:inline-block
    }
    .pagination-container li:first-child,.pagination-container li:last-child{
        display:none
    }
}
.container-directory .btn-holder a.button{
    margin-top:30px
}
.container-directory .program-points{
    margin-bottom:95px
}
.container-directory .program-points .text{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    text-align:left
}
.article-holder .img-banner,.article-holder .img-wrap{
    position:relative
}
.article-holder .img-banner:before,.article-holder .img-wrap:before{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    content:"";
    -webkit-box-shadow:inset 0 0 20px 0 rgba(0,0,0,.2);
    box-shadow:inset 0 0 20px 0 rgba(0,0,0,.2)
}
.article-holder .img-banner img,.article-holder .img-wrap img{
    width:100%
}
.article-holder .article-text ul:not(.name-list):not(.tool-list){
    list-style:disc;
    margin-left:1em;
    margin-top:1em;
    margin-bottom:1em
}
.article-holder .article-text ol{
    list-style:decimal;
    padding-left:1em
}
@media (max-width:767px){
    .article-holder .article-text .tool-list>li{
        width:25%
    }
}
@media (min-width:768px) and (max-width:1023px){
    .article-holder .article-text .tool-list{
        margin-left:10px
    }
}
@media (min-width:1024px){
    .article-holder .article-text{
        line-height:26px
    }
}
.article-holder .info-div .item .text-holder .title-article-details,.article-holder .info-div .title,.article-holder .item .text-holder .info-div .title-article-details{
    margin-top:6px!important;
    margin-bottom:8px!important
}
.article-holder .info-div .name-list{
    overflow:visible
}
@media (min-width:768px){
    .article-holder .info-div .name-list{
        margin-left:75px
    }
}
.article-holder .info-div .name-list li{
    margin-bottom:10px;
    margin-right:10px;
    line-height:32px;
    display:inline-block;
    float:none
}
.article-holder .info-div .name-list li:after{
    display:none
}
.article-holder .info-div .name-list li>a{
    font-weight:700;
    padding:6px 10px;
    border:1px solid #dcdcdc
}
.article-holder .item .text-holder>.title,.article-holder .item .text-holder>.title-article-details{
    display:block;
    color:#00c0ea;
    text-transform:uppercase;
    font-size:12px;
    line-height:16px;
    margin:0 0 5px;
    font-weight:700
}
.article-holder .item .text-holder .title-article-details{
    font-size:13px
}
.article-holder .item .text-holder .author-line{
    display:block;
    margin-top:10px;
    color:#818181
}
.article-holder .item .text-holder .author-line .author-name,.article-holder .item .text-holder .author-line .time{
    display:inline-block;
    color:#818181;
    font-size:12px;
    line-height:16px
}
@media (min-width:1024px){
    .article-holder .item .text-holder .author-line .author-name,.article-holder .item .text-holder .author-line .time{
        font-size:14px;
        line-height:18px
    }
}
.article-holder .item .text-holder .author-line .author-name{
    font-weight:700;
    padding-right:5px
}
.article-holder .item .text-holder .author-line .time{
    position:static;
    padding:0 0 0 5px
}
@media (min-width:768px){
    .article-holder .item .text-holder .author-line{
        position:absolute;
        left:0;
        bottom:0;
        right:0;
        padding:0 15px 10px
    }
}
@media (min-width:1024px){
    .article-holder .item .text-holder .author-line{
        padding:0 20px 25px
    }
}
@media (min-width:1300px){
    .article-holder .item .text-holder .author-line{
        padding:0 29px 27px
    }
}
.container-product .column-list .info-holder .date:before{
    display:none
}
.container-product .pleasure-section .article .img-holder>img{
    margin-bottom:30px
}
@media (min-width:1300px){
    .container-product .pleasure-section .article .text{
        margin-left:332px
    }
}
@media (min-width:1024px) and (max-width:1299px){
    .container-product .pleasure-section .article .text{
        margin-left:265px
    }
}
@media (min-width:768px) and (max-width:1023px){
    .container-product .pleasure-section .article .text{
        margin-left:240px
    }
}
.container-product .pleasure-section .article .text .description-block h2{
    font-size:16px;
    line-height:20px;
    margin:0;
    padding:0;
    font-family:proxima-nova,Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight:700
}
.container-product .pleasure-section .article .text .btn-box li{
    display:block
}
.container-product .pleasure-section .article .text .btn-box li a{
    display:inline-block;
    width:100%;
    overflow-x:hidden;
    text-overflow:ellipsis
}
.container-product .pleasure-section .article .text .company-email-info{
    font-style:italic
}
.container-product .pleasure-section .article .ppi-company-domain:before{
    content:"@"
}
.container-products .jcf-select{
    border:1px solid #dedede;
    -webkit-box-shadow:none;
    box-shadow:none;
    min-height:30px;
    height:auto
}
.container-products .jcf-select .jcf-select-opener{
    width:30px
}
.container-products .jcf-select .jcf-select-text{
    color:#00c0ea;
    font-size:16px;
    line-height:20px;
    font-weight:700;
    padding:8px 10px 7px
}
@media (min-width:768px){
    .container-products .jcf-select .jcf-select-text{
        font-size:18px;
        line-height:22px
    }
}
@media (min-width:1024px){
    .container-products .jcf-select .jcf-select-text{
        font-size:20px;
        line-height:22px
    }
}
@media (min-width:768px){
    .container-products .jcf-select{
        width:190px
    }
}
@media (min-width:1024px){
    .container-products .jcf-select{
        width:180px
    }
}
@media (min-width:1300px){
    .container-products .jcf-select{
        width:220px
    }
}
.pleasure-products-list .img-holder .img-frame{
    max-height:221px;
    display:block;
    overflow:hidden;
    text-align:center;
    vertical-align:middle
}
.pleasure-products-list .img-holder .img-frame.responsive-frame{
    position:relative;
    width:100%
}
.pleasure-products-list .img-holder .img-frame.responsive-frame:before{
    content:"";
    display:block;
    padding-top:100%
}
.pleasure-products-list .img-holder .img-frame.responsive-frame img{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    max-width:none
}
.pleasure-products-list .img-holder .img-frame img{
    max-width:221px;
    height:auto
}
.pleasure-products-list .img-holder .info-holder{
    overflow:hidden;
    display:table;
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    white-space:nowrap;
    position:relative;
    text-overflow:ellipsis;
    max-width:100%
}
.pleasure-products-list .img-holder .info-holder .info{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    padding-left:4px
}
.pleasure-products-list .img-holder .info-holder span{
    display:table-cell
}
.pleasure-products-list-responsive .img-holder .img-frame{
    width:221px;
    height:221px;
    display:block;
    overflow:hidden;
    text-align:center;
    vertical-align:middle
}
.pleasure-products-list-responsive .img-holder .img-frame img{
    width:221px;
    height:auto
}
.column-list.pleasure-products-list.style-2 .text-holder{
    padding:10px
}
@media (min-width:1024px){
    .column-list.pleasure-products-list.style-2 .text-holder{
        padding:10px
    }
}
@media (min-width:768px){
    .column-list.pleasure-products-list.style-2 .column{
        width:50%
    }
}
@media (min-width:1024px){
    .column-list.pleasure-products-list.style-2 .column{
        width:25%
    }
}
.column-list.movies-list.style-2 .text{
    padding:50px 10px 10px
}
@media (min-width:1024px){
    .column-list.movies-list.style-2 .text{
        padding:10px
    }
}
.column-list.movies-list.style-2 .text .info-holder{
    overflow:hidden;
    display:table;
    display:-webkit-inline-box;
    display:-ms-inline-flexbox;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    white-space:nowrap;
    position:relative;
    text-overflow:ellipsis;
    max-width:100%
}
.column-list.movies-list.style-2 .text .info-holder .info{
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    padding-left:4px
}
.column-list.movies-list.style-2 .text .info-holder span{
    display:table-cell
}
.movie-section .plot .name-list li>a{
    font-weight:700
}
.movie-section .article .img-holder>img{
    margin-bottom:30px
}
.container-search .disc-list ul{
    list-style-type:disc;
    padding-left:18px
}
.container-search .disc-list ul li{
    line-height:1.5
}
.container-search .tab-section .tabset-search{
    margin-bottom:15px
}
.container-search .tab-section .tabset-search li{
    padding-bottom:10px
}
.container-search .tab-section .tabset-search li:last-child{
    margin-right:0
}
@media (min-width:1300px){
    .container-search .tab-section .tabset-search li{
        margin-right:40px
    }
}
.xbiznet-holder{
    max-height:500px;
    overflow:hidden
}
.container-home .feature-list .img-holder,.container-home .news-box-list .news-box,.container-home .top-news{
    position:relative
}
.container-home .feature-list .img-holder:before,.container-home .news-box-list .news-box:before,.container-home .top-news:before{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    content:"";
    -webkit-box-shadow:inset 0 0 20px 0 rgba(0,0,0,.2);
    box-shadow:inset 0 0 20px 0 rgba(0,0,0,.2)
}
@media (min-width:1024px){
    .article-holder .item .text-holder .script-list .title-article-details,.script-list .article-holder .item .text-holder .title-article-details,.script-list .title{
        width:calc(100% - 415px)
    }
}
@media (min-width:1300px){
    .article-holder .item .text-holder .script-list .title-article-details,.script-list .article-holder .item .text-holder .title-article-details,.script-list .title{
        width:calc(100% - 515px)
    }
}
.script-list .btn{
    width:135px
}
@media (min-width:1024px){
    .script-list .btn{
        width:102px
    }
}
.script-list .info{
    width:125px
}
@media (min-width:1024px){
    .script-list .info{
        width:126px
    }
}
@media (min-width:1024px) and (max-width:1299px){
    .column-hide-overflow-5 div.column:nth-child(5),.column-hide-overflow-10 div.column:nth-child(9),.column-hide-overflow-10 div.column:nth-child(10){
        display:none
    }
}
.shadow-box{
    position:relative
}
.shadow-box:before{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    content:"";
    -webkit-box-shadow:inset 0 0 20px 0 rgba(0,0,0,.2);
    box-shadow:inset 0 0 20px 0 rgba(0,0,0,.2)
}
.event-section .img-holder{
    position:relative
}
.event-section .img-holder:before{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    content:"";
    -webkit-box-shadow:inset 0 0 20px 0 rgba(0,0,0,.2);
    box-shadow:inset 0 0 20px 0 rgba(0,0,0,.2)
}
.item-holder .item.full-width{
    padding:0
}
.item-holder .item.full-width .text-holder{
    min-height:30px
}
.item-holder .img-holder:before{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    content:"";
    -webkit-box-shadow:inset 0 0 20px 0 rgba(0,0,0,.2);
    box-shadow:inset 0 0 20px 0 rgba(0,0,0,.2)
}
.tab-content .pagination-container{
    margin-bottom:25px
}
.tab-content .column-list .pagination-container{
    padding-left:11px;
    padding-right:11px
}
.tab-content .program-points.layout-2{
    padding:0
}
.heading-holder.with-info .message-success{
    padding-top:15px
}
.standard-form .row,.submit-form .row,.subscribe-form .row{
    border:0 none;
    padding:0;
    margin:0 0 15px
}
.standard-form .form-control,.standard-form .frame-control,.submit-form .form-control,.submit-form .frame-control,.subscribe-form .form-control,.subscribe-form .frame-control{
    background:#fff;
    height:30px;
    margin:0;
    padding:5px 10px;
    border:none;
    display:block;
    overflow:hidden;
    border-radius:1px;
    outline:none;
    -webkit-box-shadow:inset 0 1px 1px #acacac;
    box-shadow:inset 0 1px 1px #acacac;
    font-size:16px;
    line-height:20px;
    color:#000
}
.standard-form .form-control:focus,.standard-form .frame-control:focus,.submit-form .form-control:focus,.submit-form .frame-control:focus,.subscribe-form .form-control:focus,.subscribe-form .frame-control:focus{
    border-color:none
}
.standard-form .frame-control,.submit-form .frame-control,.subscribe-form .frame-control{
    background:transparent;
    height:auto;
    margin:0;
    padding:0;
    -webkit-box-shadow:none;
    box-shadow:none;
    line-height:1
}
.standard-form .input-holder.input-error .form-control,.standard-form .input-holder.input-error .frame-control,.submit-form .input-holder.input-error .form-control,.submit-form .input-holder.input-error .frame-control,.subscribe-form .input-holder.input-error .form-control,.subscribe-form .input-holder.input-error .frame-control{
    border:1px solid red;
    -webkit-box-shadow:none;
    box-shadow:none
}
.standard-form input[type=submit],.submit-form input[type=submit],.subscribe-form input[type=submit]{
    font-weight:700
}
.article-holder .item .text-holder .wf-loading .feature-box .title-article-details,.wf-loading .feature-box .article-holder .item .text-holder .title-article-details,.wf-loading .feature-box .title,.wf-loading h1,.wf-loading h2,.wf-loading p{
    visibility:hidden
}
.img-featured{
    margin:0 0 20px
}
.img-featured-withcaption{
    margin:0 0 5px
}
.img-caption{
    margin-bottom:15px;
    font-size:13px;
    color:#888;
    font-style:italic;
    line-height:normal
}
@media (min-width:1024px){
    .img-caption{
        font-size:15px
    }
}
.article-holder .img-featured img{
    width:100%;
    max-width:none
}
@media (min-width:768px) and (max-width:1023px){
    #header.has-takeoverad .logo-header{
        opacity:1;
        visibility:visible
    }
}
.search-active .search-opener .icon{
    display:block;
    width:20px;
    height:20px
}
@media (min-width:768px){
    .search-active .search-opener .icon{
        width:22px;
        height:22px
    }
}
.search-opener .icon:after{
    content:""
}
.search-active .icon-search:before{
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg)
}
.search-active .icon-search:after,.search-active .icon-search:before{
    content:"";
    position:absolute;
    left:0;
    right:0;
    height:2px;
    background:#fff;
    -webkit-transition:all .3s linear;
    transition:all .3s linear;
    top:50%;
    margin-top:-1px
}
.search-active .icon-search:after{
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg)
}
.load-more-holder.is-busy .load-more{
    display:none
}
.load-more-holder .spinner{
    font-size:42px;
    color:#ff4213;
    display:block;
    margin:30px auto 0;
    width:42px;
    position:absolute;
    top:100%;
    left:50%
}
.container-privacy ul{
    list-style:disc;
    margin-left:2em;
    margin-top:1em;
    margin-bottom:1em
}
.container-privacy ol{
    list-style:decimal;
    padding-left:1em
}
.ui-site-search.ui-menu{
    z-index:10999!important;
    background:#2e2e2e
}
.ui-site-search.ui-menu .ui-menu-item-wrapper{
    padding:3px .5em
}
.search-form .spinner{
    font-size:20px;
    color:#ff4213;
    display:block;
    margin:0 auto;
    width:20px;
    position:absolute;
    top:30%;
    right:20px
}
@media (max-width:767px){
    .search-drop{
        right:0;
        left:0;
        width:100%;
        top:100%;
        background:rgba(39,39,39,.97);
        overflow-y:auto
    }
    .search-active .search-drop,.search-drop{
        max-height:calc(100vh - 55px);
        height:calc(100vh - 55px)
    }
    .search-drop .ui-site-search.ui-menu{
        position:static!important;
        border:0 none;
        left:auto!important;
        top:auto!important;
        width:100%!important;
        padding:0 15px 22px
    }
    .search-drop .ui-site-search.ui-menu .ui-menu-item-wrapper{
        text-align:left
    }
    .search-drop .search-form{
        width:100%
    }
    .search-drop .search-form .spinner{
        top:18px
    }
}
.recent-event-list li{
    padding:20px 0
}
.recent-event-list li:before{
    content:none;
    position:static;
    display:none
}
.visual-wrap.in-viewport .mag{
    -webkit-transition:none;
    transition:none;
    -webkit-transform:none;
    -ms-transform:none
}
.top-news .text{
    background:-webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(90%,#000),to(#000));
    background:linear-gradient(180deg,transparent 0,#000 90%,#000)
}
.column-error h1{
    color:#00c0ea
}
.column-error h2{
    line-height:1.5
}
.column-error .text-box p{
    line-height:1.4
}
.nav-block .link-list{
    display:block
}
.filter-form.filter-nopadding label{
    padding:0
}
.nowrap{
    white-space:nowrap
}
.hidden{
    display:none
}
.xbiznet-holder .tab-data{
    max-height:450px;
    overflow-y:auto
}
.category-box.orange .category-list a.active{
    color:#00c0ea
}
.container-movies .category-box.orange:before,.container-movies .category-box:before,.container-products .category-box.orange:before,.container-products .category-box:before{
    background:#000
}
.lightbox.email-block .email-form button{
    margin-left:auto;
    margin-right:auto;
    display:block
}
.nav-block .col.col-2:after{
    width:0;
    background:transparent
}
@media (max-width:1023px){
    .nav-block .col.col-3{
        padding-left:10px
    }
}
@media (min-width:1024px){
    .nav-block .col.col-3{
        padding-left:60px
    }
}
.trend-list .editors-pick-text{
    width:calc(100% - 77px);
    display:inline-block;
    vertical-align:top;
    font-size:15px;
    line-height:1.4;
    padding:0 20px 0 0
}
.trend-list .editors-pick-text a{
    color:#000
}
.trend-list .editors-pick-text a:hover{
    opacity:.8
}
.articles-section .item-holder .text-holder{
    padding-top:24px!important
}
.articles-section .item-holder .text-holder .author-line{
    padding-left:18px!important
}
.item-list.xbiz-mag-list{
    margin:0
}
@media (min-width:768px){
    .item-list.xbiz-mag-list .item{
        width:50%
    }
}
@media (min-width:1024px){
    .item-list.xbiz-mag-list .item{
        width:25%
    }
}
.embed-video-tube{
    margin:0 0 21px;
    display:block
}
.embed-video-tube iframe{
    width:100%;
    vertical-align:top;
    border:none;
    margin:0
}
@media (min-width:480px){
    .embed-video-tube iframe{
        height:350px
    }
}
@media (min-width:1024px){
    .embed-video-tube iframe{
        height:382px
    }
}
.category-list-inactive{
    color:#ff4213!important
}
.company-active{
    color:#00c0ea
}
.banner-events{
    text-align:left;
    margin-top:40px
}
@media (min-width:767px) and (max-width:1022px){
    .banner-events .trend-list .text{
        width:100%
    }
    .banner-events .trend-list .img-holder{
        display:none;
        visibility:hidden
    }
}
.visual-wrap.main-page .mag{
    max-height:142px
}
@media (min-width:768px){
    .visual-wrap.main-page .mag{
        max-height:153px
    }
}
@media (min-width:1024px){
    .visual-wrap.main-page .mag{
        max-height:166px
    }
}
@media (min-width:1300px){
    .visual-wrap.main-page .mag{
        max-height:184px
    }
}
.visual-wrap .mag{
    max-height:123px
}
@media (min-width:1300px){
    .visual-wrap .mag{
        max-height:134px
    }
}
.visual-wrap .takeoverad{
    position:relative;
    z-index:2;
    padding:6px 0 0;
    width:100%;
    min-height:142px
}
@media (min-width:768px){
    .visual-wrap .takeoverad{
        min-height:153px
    }
}
@media (min-width:1024px){
    .visual-wrap .takeoverad{
        min-height:166px
    }
}
@media (min-width:1300px){
    .visual-wrap .takeoverad{
        min-height:184px
    }
}
.visual-wrap .takeoverad.ad1{
    text-align:left
}
.visual-wrap .takeoverad.ad2{
    text-align:right
}
.visual-wrap.has-takeoverad:before{
    background:none
}
@media (max-width:767px){
    .visual-wrap.has-takeoverad .col{
        width:100%;
        padding:12px 0
    }
}
@media (min-width:768px) and (max-width:1023px){
    .visual-wrap.has-takeoverad .col{
        padding-right:12px;
        padding-bottom:18px
    }
}
@media (max-width:1023px){
    .visual-wrap.has-takeoverad .col .takeoverad img{
        width:100%
    }
}
@media (max-width:767px){
    .visual-wrap.has-takeoverad .col+.col{
        display:none
    }
}
@media (min-width:768px) and (max-width:1023px){
    .visual-wrap.has-takeoverad .col+.col{
        padding-left:12px;
        padding-bottom:18px
    }
}
@media (max-width:1023px){
    .visual-wrap.has-takeoverad .logo{
        display:none
    }
}
.xbiznetbox{
    text-align:left;
    margin-top:40px
}
.error-message{
    display:block;
    color:red;
    font-weight:700;
    font-size:14px;
    line-height:18px;
    margin:0 0 5px
}
