html{font-family:Helvetica,  Arial,  sans-serif; webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0; overflow-x: hidden;  outline: 0;  background-color: #fbfbfb; font-family: 'Lato';}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular.woff2') format('woff2'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
}

p {
    margin: 0 0 10px;
    font-size: 17px;
}

.center-bg {
    background-color: #fff;
    box-shadow: 12px 0 15px -4px rgba(243, 243, 243, 0.8), -12px 0 8px -4px rgba(243, 243, 243, 0.8);
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 14px 8px;
}
.navbar-inverse {
    background-color: #000;
    border-color: #000;
}

.well {
    padding: 9px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    border: 1px solid #e3e3e3;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.text-help{color: #868686;font-size: 12px;line-height: 14px;}

.padding-10.row {  margin-right: -5px;  margin-left: -5px;}
.padding-10 > [class^="col-"], .padding-10 > [class^=" col-"] {  padding-right: 5px;  padding-left: 5px;}
.padding-20.row {  margin-right: -10px;  margin-left: -10px;}
.padding-20 > [class^="col-"], .padding-20 > [class^=" col-"] {  padding-right: 10px;  padding-left: 10px;}
.padding-10.panel-body {  margin-top: -10px;  margin-right: -10px;  margin-left: -10px;}
.nopadding {  padding: 0 !important;  margin: 0 !important;}

.h1, .h2, .h3, h1, h2, h3 { margin-top: 10px; margin-bottom: 10px;}
hr { margin-top: 20px; margin-bottom: 20px;  border: 0;  border-top: 1px solid #3b3b3b;}

.thumbnail {display: block;padding: 4px; margin-bottom: 15px; line-height: 1.42857143; background-color: #fff; border: 1px solid #ddd; border-radius: 4px; -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out; transition: border .2s ease-in-out;}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*IMAGES HOVER TEXT*/
.list-quotes { height: auto; overflow: hidden; position: relative; display: block;}

.list-quotes img,
.list-quotes h3 { -webkit-transition: -webkit-transform 0.35s; transition: transform 0.35s;}

.list-quotes img { -webkit-backface-visibility: hidden;  backface-visibility: hidden;}

.list-quotes h5 { background: rgba(0, 0, 0, 0.7);  top:45%;  float: right;  color: #fff;  padding: 5px;  position: absolute;  margin: 0;}

.list-quotes p {  position: absolute; bottom: -1px; left: 0; right: 0; margin: 0; padding: 10px; opacity: 0; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; -webkit-transform: translate3d(0,50px,0); transform: translate3d(0,50px,0); font-size: 15px; font-weight: normal; background: rgba(51,153,153,0.8); width: 100%; color: #fff;}

.quotes span{ color:#222; font-weight: bold; text-transform: capitalize; color: #fff;}

/*END IMAGES HOVER TEXT*/


@media (min-width: 767px) {
    .navbar-nav .dropdown-menu .caret {
	transform: rotate(-90deg);
    }
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    padding: 5px 5px;
    margin: 2px 0 0;
        margin-top: 2px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
/*    font-size: 20px;*/
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
    margin-top: -5px;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 7px 5px;
    font-size: 18px;
    line-height: 20px;
    margin-top: -5px;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 100;
}
hr {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #efefef;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}
a:active, a:hover {
    outline: 0;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}

.bg-spotlight {
    padding: 10px;
    position: relative;
    background: #fff;
    border: 1px solid #dbdbdb;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.06);
    box-shadow: 1px 1px 3px rgba(0,0,0,.06);
    margin: 0 0 20px;
    color: #000;
}
.bg-press {
    padding: 10px;
    position: relative;
    background: #fff;
    border: 1px solid #dbdbdb;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.06);
    box-shadow: 1px 1px 3px rgba(0,0,0,.06);
    margin: 0 0 20px;
    color: #000;
}
.bg-press:hover {
    padding: 10px;
    position: relative;
    background: #f8f8f8;
    border: 1px solid #dbdbdb;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.06);
    box-shadow: 1px 1px 3px rgba(0,0,0,.06);
    margin: 0 0 20px;
    color: #000;
}

footer {margin: 0px 0;}
.footer {background-color: #000; margin: 0px 0; padding:10px; color: #8b8989;}
.footer-bottom {background-color: #1b1b1b; margin: 0px 0; padding-top:10px; color: #8b8989;}
.footer-link{ color: #8b8989; text-decoration: none;}
.footer-link:hover{ color: #ffffff; text-decoration: none;}

.tab-bg {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

@media (max-width: 767px) {
    .tab-bg {
        background-color: #fff;
        padding: 10px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
}