html {
    webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0;
    overflow-x: hidden;
    outline: 0;
    background-color: #fff;
    padding-top: 0px;
    color: #6b6a6a;
    font-family: 'SourceSansPro-Regular' !important;
    font-size: 15px;
    margin-top: 0px;
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url(../fonts/SourceSansPro-Regular.eot);
    src: url(../fonts/SourceSansPro-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/SourceSansPro-Regular.woff2) format('woff2'), url(../fonts/SourceSansPro-Regular.woff) format('woff'), url(../fonts/SourceSansPro-Regular.ttf) format('truetype'), url(../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular) format('svg')
}

@font-face {
    font-family: 'Geomanist';
    src: url(../fonts/Geomanist.eot);
    src: url(../fonts/Geomanist.eot?#iefix) format('embedded-opentype'), url(../fonts/Geomanist.woff2) format('woff2'), url(../fonts/Geomanist.woff) format('woff'), url(../fonts/Geomanist.ttf) format('truetype'), url(../fonts/Geomanist.svg#Geomanist) format('svg')
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url(../fonts/Raleway-Medium.eot);
    src: url(../fonts/Raleway-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/Raleway-Medium.woff2) format('woff2'), url(../fonts/Raleway-Medium.woff) format('woff'), url(../fonts/Raleway-Medium.ttf) format('truetype'), url(../fonts/Raleway-Medium.svg#Raleway-Medium) format('svg')
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url(../fonts/Raleway-Bold.eot);
    src: url(../fonts/Raleway-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/Raleway-Bold.woff2) format('woff2'), url(../fonts/Raleway-Bold.woff) format('woff'), url(../fonts/Raleway-Bold.ttf) format('truetype'), url(../fonts/Raleway-Bold.svg#Raleway-Bold) format('svg')
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    font-family: 'Raleway-Medium' !important;
}

.align-top {
    vertical-align: top !important;
}

.align-middle {
    vertical-align: middle !important;
}

.align-bottom {
    vertical-align: bottom !important;
}


/*VIEW MORE IN PRODUCT DETAILS*/

a.morelink {
    text-decoration: none;
    outline: none;
}

.morecontent span {
    display: none;
}


/*--------------------------------NOT EDIT THIS CLASSES----------------------------------------------*/

.padding-10.row {
    margin-right: -5px;
    margin-left: -5px;
}

.padding-10>[class^="col-"],
.padding-10>[class^=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.padding-20.row {
    margin-right: -10px;
    margin-left: -10px;
}

.padding-20>[class^="col-"],
.padding-20>[class^=" col-"] {
    padding-right: 10px;
    padding-left: 10px;
}

.padding-10.panel-body {
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}


/*Pagination padding set*/

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 10px 0;
    border-radius: 4px;
}


/*Popup Padding*/

.modal-body {
    position: relative;
    padding: 10px;
}


/*Table in Vertical Align is middle*/

.table>thead>tr>th {
    vertical-align: middle;
    border-bottom: 2px solid #ddd;
    text-align: center;
}

.img-hover:hover {
    opacity: 0.8;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}


/*Hot, Free, New, Featured Icons */

.label {
    vertical-align: middle;
    text-decoration: none;
    display: inline;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 1px;
    padding-bottom: 0px;
    font-size: 7.5pt;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 2px;
}

.label-normal {
    font-weight: normal;
}


/*Alert notification padding set*/

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}


/*Button disabled set*/

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: default;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}


/*all Section in penal padding and margin set*/

.panel-body {
    padding: 10px 10px 10px 10px;
}

.panel-heading {
    padding: 10px 5px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


/*Slider heading and text*/

.carousel-caption {
    position: absolute;
    right: 5%;
    bottom: 50px;
    left: 5%;
    z-index: 10;
    color: #fff;
    text-align: center;
    text-shadow: 0 0px 0px rgba(0, 0, 0, .6);
    background-color: #000;
    border-radius: 10px;
    opacity: 0.7;
    padding: 10px;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 5px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.dot-lg {
    background-color: #000;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 0px solid #e7e7e7;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 2px #e7e7e7;
}


/*Slider Left and Right side shadow*/

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}


/*End Slider Left and Right side shadow*/


/*P Teg margin set*/

p {
    margin: 3px 0 3px;
}


/*Top to Bottom*/

#scroll {
    position: fixed;
    right: 12px;
    bottom: 70px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #ef5f96;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    z-index: 1000;
    outline: 0;
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
    outline: 0;
}

#scroll:hover {
    background-color: #5c5c5c;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
    outline: 0;
}


/*End Top to Bottom*/


/*Line Color and Padding*/

hr {
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #e6e6e6;
}

.pink-line {
    background-color: #fffdfd;
    border-top: 5px solid #ef5f96;
    border-radius: 0px;
}


/*Page and footer in Help Text*/

.text-help {
    color: #737373;
    font-size: 9pt;
    text-decoration: none;
    font-style: italic;
}


/*Form in Help Text*/

.text-help-form {
    color: #a94442;
    font-size: 9pt;
    text-decoration: none;
    font-style: italic;
}


/*Color Circle*/

.color-circle {
    border-radius: 50%;
    width: 12.5px;
    height: 12.5px;
    display: inline-block;
    border: 0px solid #e7e7e7;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 2px #e7e7e7;
}

.color-circle-lg {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 0px solid #e7e7e7;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 2px #e7e7e7;
}


/*End Color Circle*/


/*-----Image top and Bottom left right icon png-----*/

.img-top-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35px;
    height: auto;
}

.img-top-right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 35px;
    height: auto;
}

.img-bottom-right {
    position: absolute;
    bottom: 2px;
    right: 5px;
    height: auto;
}

.img-bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: auto;
}


/*-----End Image top and Bottom left right icon png-----*/


/*--------------------------------END NOT EDIT THIS CLASSES----------------------------------------------*/


/*-----user login after page side penal (Control Panel)-----*/

.control-panel-bg {
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-bottom: 10px;
}

a.thumbnail.active,
a.thumbnail:focus,
a.thumbnail:hover {
    border-color: #ef5f96;
}


/*-----end user login after page side penal (Control Panel)-----*/

.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
    color: #5c5c5c;
}


/****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/


/*filter heading bg*/


/*.filter-head-bg {background-color: #fbfbfb;color: #6b6a6a;padding: 10px;display: block;margin-bottom: 10px;}*/

.thumbnail {
    display: block;
    padding: 5px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}


/*-----FILTER DESKTOP BOX ABD HEADING BG-----*/

.filter-head-bg {
    background-color: #fbfbfb;
    color: #6b6a6a;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
    border-radius: 0px;
    margin-left: -10px;
    margin-right: -10px;
}

.filter-box {
    display: block;
    padding: 10px;
    padding-top: 0px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}


/*-----END FILTER DESKTOP BOX ABD HEADING BG-----*/


/*Layout color vise change this text color*/

.label-primary {
    background-color: #ef5f96;
}

.label-mobile-size {
    font-size: 7px;
    !important
}


/*As per logo set margin and padding*/

.logo {
    margin-top: -5px;
}


/*Site color vise set bg*/

.center-bg {
    background-color: #fff;
    /*border-radius: 2px;box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);*/
}


/*About, Privacy, Faq, Terms in images thumbnail class in margin bottom is remove*/

.thumbnail-margin {
    margin-bottom: 0px;
}


/*All link remove underline and outline*/

a:focus,
a:hover {
    color: #5c5c5c;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

a {
    color: #ef5f96;
    text-decoration: none;
}

a {
    background-color: transparent;
}


/*Color change all page in footer */

footer {
    margin: 0px 0;
}

.footer {
    background-color: #fff;
    margin: 0px 0;
    padding: 20px;
    color: #6b6a6a;
    border-top: 2px solid #f0f0f0;
}

.footer-bottom {
    background: #fbfbfb;
    color: #5c5c5c;
    margin: 0px 0;
    padding: 10px;
}

@media (max-width: 768px) {
    .footer-bottom-margin {
        margin-bottom: 60px;
    }
}


/*.footer-link{ color: #ababab; text-decoration: none;}
.footer-link:hover{ color: #ef5f96; text-decoration: none;}*/


/*pagination disabled cursor set*/

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #e31c7a;
    cursor: default;
}


/*pagination active color set*/

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #e31c7a;
    border-color: #e31c7a;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    z-index: 2;
    color: #e31c7a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #e31c7a;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}


/*button editing*/

.btn {
    border-radius: 3px;
    margin-bottom: 5px !important;
    font-weight: bold;
}


/*end button editing*/


/*Circle PNG transperent image backgroun change*/

.bg-circle {
    background: #edecea;
    border-radius: 100%;
    padding: 1.25rem;
}


/*Chane color as a req.*/

.alert-default {
    color: #fff;
    background-color: #5c5c5c;
    border-color: #5c5c5c;
}

.bg-default {
    color: #5c5c5c;
    background-color: #edecea;
    border-color: #edecea;
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 0px solid #edecea;
    border-radius: 4px;
}


/*Form color and designs change*/

.form-group {
    margin-bottom: 5px;
}

.form-control:focus {
    color: #495057;
    background-color: #ffffff;
    border-color: #e31c7a;
    outline: 0
}

.form-control:focus {
    border-color: #e31c7a;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .6);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .6);
}

input[type="file"] {
    display: block;
    background-color: #f9f9f9;
    border: 1px solid #ececec;
    color: #989898;
    border-radius: 6px;
    font-weight: normal;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #ffffff;
    opacity: 1;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fbfbfb;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


/*End Form color and designs change*/


/*-----Header Pink Line-----*/

hr.star-primary {
    border-color: #ef5f96;
}

hr.star-primary {
    margin: 5px auto 5px;
    padding: 0;
    max-width: 50px;
    border: 0;
    border-top: solid 2px;
    text-align: left !important;
    border-color: #ffc6db;
    ;
    margin-left: 0px;
}


/*-----Product Image Height-----*/

.img-products {
    max-width: -moz-available;
    height: 350px !important;
    object-fit: cover;
}

@media (max-width: 670px) {
    .img-products {
        max-width: -moz-available;
        max-height: 250px;
        object-fit: cover;
    }
}


/*-----End Product Image Height-----*/


/*.breadcrumb {padding: 8px 15px;margin-bottom: 10px;list-style: none;background-color: #fff7fa;border-radius: 4px;}*/

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 10px;
    list-style: none;
    background-color: #fffcef;
    border-radius: 4px;
    border: 1px solid #fff6d1;
}


/*.well {padding: 8px;margin-bottom: 10px;background-color: #fff5f9;border: 1px solid #fff4f8;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);box-shadow: inset 0 1px 1px rgb(255, 244, 248);}*/

.well {
    padding: 8px;
    margin-bottom: 10px;
    background-color: #fffdf5;
    border: 1px solid #fff9df;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgb(255, 244, 248);
}


/*Site vise change this button color*/

.btn-default {
    color: #5c5c5c;
    background-color: #fff;
    border-color: #ccc
}

.btn-default.focus,
.btn-default:focus {
    color: #5c5c5c;
    background-color: #fff;
    border-color: #ef5f96
}

.btn-default:hover {
    color: #5c5c5c;
    background-color: #fff;
    border-color: #ef5f96
}

.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    color: #5c5c5c;
    background-color: #fff;
    border-color: #ef5f96
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #5c5c5c;
    background-color: #fff;
    border-color: #ef5f96
}

.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default {
    background-image: none
}

.btn-default.disabled.focus,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled].focus,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
    background-color: #fff;
    border-color: #ef5f96
}


/*END Site vise change this button color*/


/*Site vise change this button color*/

.btn-primary {
    color: #fff;
    background-color: #ef5f96;
    border-color: #ef5f96;
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: #ef5f96;
    border-color: #bf215d;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ef5f96;
    border-color: #bf215d;
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #ef5f96;
    border-color: #bf215d;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #ef5f96;
    border-color: #bf215d;
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #ef5f96;
    border-color: #bf215d;
}


/*END Site vise change this button color*/

.btn-pagination {
    color: #5c5c5c;
    background-color: #f9f9f9;
    border-top: 0px solid #6f6355;
    border-bottom: 0px solid #6f6355;
}

.btn-pagination-active {
    color: #f15f96;
    background-color: #ededed;
    border-top: 0px solid #6f6355;
    border-bottom: 0px solid #6f6355;
}


/*---------------------------------responsive bottom button--------------------------*/

@media (max-width: 991px) {
    .price-and-checkout-btn-panel {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 99;
        width: 100%;
        display: block !important;
    }
}

.add-to-cart-btn {
    background-color: #fff;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ef5f96;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    border-top: 1px solid #ddd;
    margin-bottom: -1px;
}

.add-to-cart-btn:hover {
    border-top: 1px solid #ddd;
    color: #ef5f96;
    background-color: #f5f5f5;
    text-decoration: none;
}

.whatsapp-btn {
    background-color: #fff;
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
    color: #ef5f96;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    border-top: 1px solid #ddd;
    margin-bottom: -1px;
    font-size: 30px;
}

.whatsapp-btn:hover {
    border-top: 1px solid #ddd;
    color: #ef5f96;
    background-color: #f5f5f5;
    text-decoration: none;
}

.buy-now-btn {
    background-color: #ef5f96;
    border-top: 1px solid #ef5f96;
    position: relative;
    color: #fff;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0;
    display: block;
    margin-bottom: -1px;
    cursor: pointer;
}

.buy-now-btn:hover {
    border-top: 1px solid #ef5f96;
    color: #fff;
    background-color: #ef5f96;
    text-decoration: none;
    cursor: pointer;
}


/*---------------------------------end responsive bottom button--------------------------*/


/*-----Product box And Buttons-----*/

.product-buynow-button:hover {
    text-decoration: none;
    color: #f15f96;
    background-color: transparent;
    border-color: #f0f0f0;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
}

.product-buynow-button {
    background-color: transparent;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    position: relative;
    color: #9b9b9b;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 6px;
    border-radius: 0;
    display: block;
    cursor: pointer;
}

.product-button:hover {
    text-decoration: none;
    color: #f15f96;
    background-color: transparent;
    border-top: 1px solid #f0f0f0;
    cursor: pointer;
}

.product-button {
    font-size: 20px;
    position: relative;
    border-top: 1px solid #f0f0f0;
    background: 0 0;
    color: #9b9b9b;
    font-weight: 700;
    text-transform: uppercase;
    padding: 6px;
    border-radius: 0;
    display: block;
    background-color: transparent;
}

.product-box {
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    padding-left: 5px;
    padding-right: 5px;
}

.product-box:hover {
    box-shadow: 0 0px 5px 0 rgba(23, 84, 116, .18);
    border: .9px solid #f0f0f0;
    border-radius: 3px;
    outline: 1px solid #f0f0f0;
}

.product-content-bg {
    background: #fff;
    padding: 10px 0px 10px 0px;
    margin-top: 0px;
}

.product-box-featured {
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fffbed;
    border: 1px solid #fff2ba;
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    padding-left: 5px;
    padding-right: 5px;
}

.product-content-bg-featured {
    background: #fffbed;
    padding: 10px 0px 10px 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
}

.product-box-featured:hover {
    box-shadow: 0 0px 5px 0 rgba(23, 84, 116, .18);
    border: 1px solid #fff2ba;
    border-radius: 0px;
    outline: 1px solid #fff2ba;
}

.product-box-trending {
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #f3ffef;
    border: 1px solid #b4ff9c;
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    padding-left: 5px;
    padding-right: 5px;
}

.product-content-bg-trending {
    background: #f3ffef;
    padding: 10px 0px 10px 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
}

.product-box-trending:hover {
    box-shadow: 0 0px 5px 0 rgba(23, 84, 116, .18);
    border: 1px solid #b4ff9c;
    border-radius: 0px;
    outline: 1px solid #b4ff9c;
}


/*-----End Product box And Buttons-----*/


/*-----Bootrstrap All Text-----*/

.text-primary {
    color: #ef5f96;
}

a.text-primary:focus,
a.text-primary:hover {
    color: #ef5f96;
}

.text-muted {
    color: #6b6a6a;
}

.text-default {
    color: #5c5c5c;
}

.text-success {
    color: #388e3c;
}


/*-----End Bootrstrap All Text-----*/


/*-----Product Details and Cart page right side deshed box-----*/

.count-bg {
    padding: 0px 0px;
    border: 1px dashed #666;
    display: inline-block;
    color: #636363;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}


/*-----End Product Details and Cart page right side deshed box-----*/


/*-----Product Cart Page in REMOVE AND WISHLIST BUTTON-----*/

.btn-cart:hover {
    background: #fcfcfc;
    padding: 6px;
    margin-bottom: -11px;
    margin-left: -1px;
    margin-right: -1px;
    color: #ef5f96;
    cursor: pointer;
    border: 1px solid #ddd;
    margin-top: 5px;
}

.btn-cart {
    background: #fcfcfc;
    padding: 6px;
    margin-bottom: -11px;
    margin-left: -1px;
    margin-right: -1px;
    color: #7b7b7b;
    cursor: pointer;
    border: 1px solid #ddd;
    margin-top: 5px;
}


/*-----End Product Cart Page in REMOVE AND WISHLIST BUTTON-----*/


/*-----Sort And Filter Sticky Button-----*/

#show-sidebar {
    position: fixed;
    left: auto;
    right: 0;
    bottom: 0px !important;
    border-radius: 0 0px 0px 0px;
    transition-delay: 0.3s;
    background-color: #fff;
    color: #ef699c;
    top: auto;
    padding: 20px;
    text-align: center;
    width: 50%;
    border-top: 1px solid #a2a2a2;
    border-left: 1px solid #a2a2a2;
    overflow-x: hidden;
}

.btn-filter {
    position: fixed;
    padding: 20px;
    text-align: center;
    width: 50%;
    background-color: #fff;
    color: #ef699c !important;
    bottom: 0px;
    border-top: 1px solid #a2a2a2;
    overflow-x: hidden;
}


/*-----End Sort And Filter Sticky Button-----*/


/*-----MAIN Home PAGE HEADING-----*/

.section-title h3 span {
    border: 0px;
    border-radius: 0px;
    font-size: 40px;
    margin-bottom: 0px;
    color: #5c5c5c;
    background-color: transparent;
    letter-spacing: 0px;
    text-shadow: -1px -1px 1px #f3f3f3, 2px 2px 1px #d4d4d4;
    border-bottom: 0px solid #5c5c5c;
    padding: 0px;
    color: #5c5c5c;
}

hr.head {
    margin: 5px auto 5px;
    padding: 0;
    max-width: 150px;
    border: 0;
    border-top: solid 4px;
    border-color: #5c5c5c;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .section-title h3 span {
        border: 0px;
        border-radius: 0px;
        font-size: 32.5px;
        margin-bottom: 0px;
        color: #5c5c5c;
        background-color: transparent;
        letter-spacing: 0px;
        text-shadow: -1px -1px 1px #f3f3f3, 2px 2px 1px #d4d4d4;
        border-bottom: 0px solid #5c5c5c;
        padding: 0px;
        color: #5c5c5c;
    }
    hr.head {
        margin: 5px auto 5px;
        padding: 0;
        max-width: 100px;
        border: 0;
        border-top: solid 3px;
        border-color: #5c5c5c;
        margin-bottom: 40px;
    }
}

.section-title {
    position: relative;
}


/*-----END MAIN HOME PAGE HEADING-----*/


/*-----Price rabge Slide-----*/

.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
    direction: ltr;
}

.noUi-base {
    width: 90%;
    height: 95%;
    position: relative;
    z-index: 1;
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.noUi-handle {
    position: relative;
    z-index: 1;
}

.noUi-stacking .noUi-handle {
    z-index: 10;
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s, top 0.3s;
    transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

.noUi-base {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.noUi-horizontal {
    height: 10px;
}

.noUi-horizontal .noUi-handle {
    width: 30px;
    height: 25px;
    left: -5px;
    top: -7px;
}

.noUi-vertical {
    width: 18px;
}

.noUi-vertical .noUi-handle {
    width: 25px;
    height: 30px;
    left: -6px;
    top: -17px;
}

.noUi-background {
    background: #fafafa;
    box-shadow: inset 0 1px 1px #f0f0f0;
}

.noUi-connect {
    background: #ef5f96;
    box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

.noUi-origin {
    border-radius: 2px;
}

.noUi-target {
    border-radius: 4px;
    /*border: 1px solid #d3d3d3;box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb;*/
}

.noUi-target.noUi-connect {
    box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #bbb;
}

.noUi-draggable {
    cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
    cursor: n-resize;
}

.noUi-handle {
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    background: #fff;
    cursor: default;
    box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}

.noUi-active {
    box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
}

.noUi-handle:after,
.noUi-handle:before {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #e8e7e6;
    left: 12px;
    top: 4px;
}

.noUi-handle:after {
    left: 17px;
}

.noUi-vertical .noUi-handle:after,
.noUi-vertical .noUi-handle:before {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px;
}

.noUi-vertical .noUi-handle:after {
    top: 17px;
}

[disabled] .noUi-connect,
[disabled].noUi-connect {
    background: #b8b8b8;
}

[disabled] .noUi-handle,
[disabled].noUi-origin {
    cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-pips {
    position: absolute;
    color: #999;
}

.noUi-value {
    width: 40px;
    position: absolute;
    text-align: center;
}

.noUi-value-sub {
    color: #ccc;
    font-size: 10px;
}

.noUi-marker {
    position: absolute;
    background: #ccc;
}

.noUi-marker-large,
.noUi-marker-sub {
    background: #aaa;
}

.noUi-pips-horizontal {
    padding: 10px 0;
    height: 50px;
    top: 100%;
    left: 0;
    width: 100%;
}

.noUi-value-horizontal {
    margin-left: -20px;
    padding-top: 20px;
}

.noUi-value-horizontal.noUi-value-sub {
    padding-top: 15px;
}

.noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
}

.noUi-marker-horizontal.noUi-marker-sub {
    height: 10px;
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 15px;
}

.noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%;
}

.noUi-value-vertical {
    width: 15px;
    margin-left: 20px;
    margin-top: -5px;
}

.noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
    width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
    width: 15px;
}


/*.noUi-tooltip {display: block;position: absolute;border: 1px solid #d9d9d9;border-radius: 3px;background: #fff;padding: 5px;left: -9px;text-align: center;width: 50px;}*/

.noUi-tooltip {
    display: block;
    position: absolute;
    /*border: 1px solid #d9d9d9;border-radius: 3px;background: #fff;padding: 5px;*/
    left: -4px;
    text-align: center;
    width: 40px;
    font-size: 10px;
}

.noUi-handle-lower .noUi-tooltip {
    top: -17px;
}

.noUi-handle-upper .noUi-tooltip {
    bottom: 25px;
}


/*-----End Price rabge Slide-----*/


/*---------POPUP NOTIFICATION 001---------*/

.custom-social-proof {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999999999999 !important;
}

.custom-social-proof .custom-notification {
    width: 320px;
    border: 0;
    text-align: left;
    z-index: 99999;
    box-sizing: border-box;
    font-weight: 400;
    border-radius: 6px;
    box-shadow: 2px 2px 10px 2px rgba(11, 10, 10, 0.2);
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

.custom-social-proof .custom-notification .custom-notification-container {
    display: flex !important;
    align-items: center;
    height: auto;
    padding: 5px;
}

.custom-social-proof .custom-notification .custom-notification-container .custom-notification-image-wrapper img {
    max-height: auto;
    width: 90px;
    overflow: hidden;
    border-radius: 6px 0 0 6px;
    object-fit: cover;
}

.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper {
    margin: 0;
    height: 100%;
    color: gray;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 6px 6px 0;
    flex: 1;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper .custom-notification-content {
    font-family: inherit !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14px;
    line-height: 16px;
}

.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper .custom-notification-content small {
    margin-top: 3px !important;
    display: block !important;
    font-size: 12px !important;
    opacity: .8;
}

.custom-social-proof .custom-notification .custom-close {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 12px;
    width: 12px;
    cursor: pointer;
    transition: .2s ease-in-out;
    transform: rotate(45deg);
    opacity: 0;
}

.custom-social-proof .custom-notification .custom-close::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: gray;
    position: absolute;
    left: 0;
    top: 5px;
}

.custom-social-proof .custom-notification .custom-close::after {
    content: "";
    display: block;
    height: 100%;
    width: 2px;
    background-color: gray;
    position: absolute;
    left: 5px;
    top: 0;
}

.custom-social-proof .custom-notification:hover .custom-close {
    opacity: 1;
}


/*---------END POPUP NOTIFICATION 001---------*/


/*---------POPUP NOTIFICATION 002---------*/

.custom-social-proof02 {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999999999999 !important;
    font-family: 'Open Sans', sans-serif;
}

.custom-social-proof02 .custom-notification02 {
    width: 320px;
    border: 0;
    text-align: left;
    z-index: 99999;
    box-sizing: border-box;
    font-weight: 400;
    border-radius: 6px;
    box-shadow: 2px 2px 10px 2px rgba(11, 10, 10, 0.2);
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

.custom-social-proof02 .custom-notification02 .custom-notification-container02 {
    display: flex !important;
    align-items: center;
    height: 80px;
}

.custom-social-proof02 .custom-notification02 .custom-notification-container02 .custom-notification-image-wrapper02 img {
    max-height: 75px;
    width: 90px;
    overflow: hidden;
    border-radius: 6px 0 0 6px;
    object-fit: cover;
}

.custom-social-proof02 .custom-notification02 .custom-notification-container02 .custom-notification-content-wrapper02 {
    margin: 0;
    height: 100%;
    color: gray;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 6px 6px 0;
    flex: 1;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.custom-social-proof02 .custom-notification02 .custom-notification-container02 .custom-notification-content-wrapper02 .custom-notification-content02 {
    font-family: inherit !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14px;
    line-height: 16px;
}

.custom-social-proof02 .custom-notification02 .custom-notification-container02 .custom-notification-content-wrapper02 .custom-notification-content02 small {
    margin-top: 3px !important;
    display: block !important;
    font-size: 12px !important;
    opacity: .8;
}

.custom-social-proof02 .custom-notification02 .custom-close02 {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 12px;
    width: 12px;
    cursor: pointer;
    transition: .2s ease-in-out;
    transform: rotate(45deg);
    opacity: 0;
}

.custom-social-proof02 .custom-notification02 .custom-close02::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: gray;
    position: absolute;
    left: 0;
    top: 5px;
}

.custom-social-proof02 .custom-notification02 .custom-close02::after {
    content: "";
    display: block;
    height: 100%;
    width: 2px;
    background-color: gray;
    position: absolute;
    left: 5px;
    top: 0;
}

.custom-social-proof02 .custom-notification02:hover .custom-close02 {
    opacity: 1;
}


/*---------END POPUP NOTIFICATION 002---------*/


/*-----Selectbox, Checkbox and Selectbox css-----*/

.control {
    display: block;
    position: relative;
    padding-left: 22px;
    margin-bottom: 7px;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 0px;
    left: 0;
    height: 15px;
    width: 15px;
    background: #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    background: #ccc;
}

.control input:checked~.control__indicator {
    background: #ef5f96;
}

.control input:disabled~.control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked~.control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator::after {
    left: 6px;
    top: 3px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}

.control--radio .control__indicator::after {
    left: 5px;
    top: 5px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: #fff;
}

.control--radio input:disabled~.control__indicator:after {
    background: #7b7b7b;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #fff;
    color: #5c5c5c;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #5c5c5c;
    background: #fff;
    border: 1px solid #ccc;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}

.select select:hover~.select__arrow,
.select select:focus~.select__arrow {
    border-top-color: #000;
}

.select select:disabled~.select__arrow {
    border-top-color: #ccc;
}


/*-----End Selectbox, Checkbox and Selectbox css-----*/


/*-----Side Shop By Category-----*/

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fbfbfb;
    border: 1px solid #f0f0f0;
    color: #000;
}

.list-group-item:hover {
    z-index: 2;
    color: #000;
    background-color: #fff !important;
    border-color: #ececec;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    z-index: 2;
    color: #000;
    background-color: #fff !important;
    border-color: #ececec;
    border-left: 3px solid #ef5f96;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.sidenav-title {
    padding: 15px 20px;
    font-weight: bold;
}

.black-bg {
    background: #ef5f96 !important;
}


/*-----End Side Shop By Category-----*/


/*-----Filter top badge (tab - click to filter content and view col-md-9 in top)-----*/

.filte-badge {
    padding: 2px 10px 2px 10px;
    margin: 0% 1% 1% 0%;
    border: 1px solid #fbfbfb;
    text-align: center;
    border-radius: 13px;
    background: #f0f0f0;
    font-size: 15px;
    float: left;
}

.filter-close {
    float: right;
    cursor: pointer;
    text-align: right
}

.filter-close i {
    margin-left: 10px
}


/*-----End Filter top badge (tab - click to filter content and view col-md-9 in top)-----*/


/*---------------------Product Details Size Select Css---------------------*/

ul.chec-radio {
    margin: 0px;
    margin-left: -43px;
}

ul.chec-radio li.pz {
    display: inline;
}

.chec-radio .radio-inline .clab {
    height: 40px;
    min-width: 40px;
    cursor: pointer;
    background: #f5f5f5;
    border: 2px solid #f5f5f5;
    padding: 5px 5px;
    text-align: center;
    text-transform: uppercase;
    color: #212121;
    position: relative;
    height: 34px;
    float: left;
    margin: 0;
    margin-bottom: 5px;
    margin-left: -15px;
}

.chec-radio label.radio-inline input[id="rdo_size"] {
    display: none;
}

.chec-radio label.radio-inline input[id="rdo_size"]:checked+div {
    color: #ed3897;
    background-color: #fff;
    border: 2px solid #ed3897;
}


/*---------------------End Product Details Size Select Css---------------------*/


/*--------------------Filter color Select Css---------------------*/

ul.chec-radio02 {
    margin: 0px;
    margin-left: -40px;
}

ul.chec-radio02 li.pz02 {
    display: inline;
}

.chec-radio02 label.radio-inline02 input[type="checkbox"] {
    display: none;
}

.chec-radio02 label.radio-inline02 input[type="checkbox"]:checked+div {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #000;
    color: #000;
}

.chec-radio02 .radio-inline02 .clab02 {
    cursor: pointer;
    background: #e7e7e7;
    padding: 7px 20px;
    text-align: center;
    text-transform: uppercase;
    color: #5c5c5c;
    position: relative;
    height: 35px;
    float: left;
    margin: 0;
    margin-bottom: 5px;
    border: 2px solid #F5F5F5;
}

.chec-radio02 label.radio-inline02 input[type="checkbox"]:checked+div:before {
    content: "\e013";
    margin-right: 5px;
    font-family: 'Glyphicons Halflings';
}


/*--------------------End Filter color Select Css---------------------*/


/*-----Collapse Design without bootstrap-----*/

#integration-list {
    width: 100%;
    margin: 0 auto;
    display: table;
}

#integration-list ul {
    padding: 0;
    margin: 15px 0;
}

#integration-list ul>li {
    list-style: none;
    border-top: 1px solid #eaeaea;
    display: block;
    padding: 15px;
    overflow: hidden;
}

#integration-list ul:last-child {
    border-bottom: 1px solid #eaeaea;
}

#integration-list ul>li:hover {
    background: #fcfcfc;
}

.expand {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

#sup {
    /*display: table-cell;*/
    vertical-align: middle;
    width: 100%;
}

.detail {
    margin: 10px 0 10px 0px;
    display: none;
    line-height: 22px;
    height: auto;
}

.right-arrow {
    margin-top: -4px;
    margin-left: 20px;
    width: 10px;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
}


/*-----End Collapse Design without bootstrap-----*/


/*-----HOME PAGE HEADING-----*/

.block_title {
    text-align: center;
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 50px;
    /*font-size: 33px;*/
}

.block_title::before {
    right: 0.5em;
    margin-left: -42%;
}

.block_title::after {
    left: 0.5em;
    margin-right: -42%;
}

.block_title::before,
.block_title::after {
    content: "";
    background: #e6e6e6;
    display: inline-block;
    height: 1px;
    position: relative;
    width: 42%;
    vertical-align: middle;
}

@media (max-width: 746px) {
    .block_title {
        text-align: center;
        overflow: hidden;
        margin-bottom: -20px;
        margin-top: 20px;
        /*font-size: 33px;*/
    }
}


/*-----HOME PAGE HEADING-----*/

.btn-pink {
    text-transform: uppercase;
    margin-top: 20px;
    color: #EF5F96;
    border: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 10px 40px;
    border-radius: 0px;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s;
}


/*.btn-pink, .btn-pink:focus {
    border: 1px solid #EF5F96;
    color: #EF5F96;
    border-radius: 4px;
}*/

.btn-pink,
.btn-pink:focus {
    border: 1px solid #5C5C5C;
    color: #5C5C5C;
    border-radius: 4px;
}

.btn-pink:hover {
    background: #EF5F96;
    color: #fff;
    border-radius: 60px;
    border: 1px solid #EF5F96;
}


/*----- ERROR 0001 -----*/


/*#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.notfound .notfound-404 {
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Maven Pro', sans-serif;
  color: #ececec;
  font-weight: 900;
  font-size: 276px;
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound h2 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 46px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
}*/


/*----- END ERROR 0001 -----*/


/*----- ERROR 0002 -----*/


/*#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 560px;
  width: 100%;
  padding-left: 160px;
  line-height: 1.1;
}

.notfound .notfound-404 {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 140px;
  height: 140px;
  background-image: url('../images/emoji.png');
  background-size: cover;
}

.notfound .notfound-404:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2.4);
      -ms-transform: scale(2.4);
          transform: scale(2.4);
  border-radius: 50%;
  background-color: #f2f5f8;
  z-index: -1;
}



@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    width: 110px;
    height: 110px;
  }
  .notfound {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
  }
}*/


/*----- END ERROR 0002 -----*/


/*----- ERROR 0003 -----*/

.notfound {
    text-align: center;
}

.notfound .notfound-404 h1 {
    font-size: 110px;
    margin: 0px;
    color: #eaa8a8;
    text-transform: uppercase;
}

.notfound h2 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #eaa8a8;
    margin: 0;
}

.btn-error {
    text-transform: uppercase;
    margin-top: 20px;
    color: #eaa8a8;
    border: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 10px 40px;
    border-radius: 0px;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s;
}

.btn-error,
.btn-error:focus {
    border: 1px solid #eaa8a8;
    color: #eaa8a8;
    border-radius: 4px;
}

.btn-error:hover {
    background: #eaa8a8;
    color: #fff;
    border-radius: 60px;
    border: 1px solid #eaa8a8;
}

img.ab.img-responsive:hover {
    display: block;
    position: relative;
    transform: scale(2);
    z-index: 1;
    left: 159px !important;
    top: 230px !important;
}

input#txt_quantity {
    position: initial;
}

button#qty_inc {
    z-index: 0;
}

.modal-content {
    /* display: none !important; */
}


/* .fade.in {
    opacity: 0;
} */

@media only screen and (max-width: 600px) {
    .modal-content {
        display: block !important;
    }
    /* .pdes.col-md-5.col-sm-12.col-xs-12 {
    padding-right: 23px !important;
    padding-left: 27px !important;
} */
    /* .fade.in {
    opacity: 0.1;
} */
}

@media screen and (max-width: 992px) {
    .modal-content {
        display: block !important;
    }
    /* .pdes.col-md-5.col-sm-12.col-xs-12 {
    padding-right: 23px !important;
    padding-left: 27px !important;
} */
}


/*----- ERROR 0003 -----*/